<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
               <p-dropdown [editable]="false" [autoDisplayFirst]="true"
                           [filter]="true" [resetFilterOnHide]="true"
                           [autoWidth]="false" formControlName="objectStore"
                           id="objectStore" [options]="objectStore"></p-dropdown>
                <label [ngClass]="{'ddfilled': form.get('objectStore').value != null}"
                       for="objectStore">Object Store</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codDependence" pInputText type="text" maxlength="50">
                <label><span class="text-danger">*</span>Código dependencia productora</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSerie" pInputText type="text" maxlength="20">
                <label><span class="text-danger">*</span>Código serie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSubSerie" pInputText type="text" maxlength="20">
                <label>Código subserie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <p-dropdown [editable]="false" [autoDisplayFirst]="true"
                          [filter]="true" [resetFilterOnHide]="true" appendTo="body"
                          [autoWidth]="false" formControlName="typeSerie" (onChange)="changeType($event)"
                          [options]="typesSerie"></p-dropdown>
                <label [ngClass]="{'ddfilled': form.get('typeSerie').value != null}">Tipo</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12" style='width : 50%'>
              <span class="ui-float-label">
              <input formControlName="yearOnHold" id="yearOnHold" pInputText type="number" min="1" pattern="^[0-9]+">
                <label><span class="text-danger">*</span>Plazo Precaucional</label>
              </span>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12" *ngIf="isCompuesta">
          <div [formGroup]="form" class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12">
            <div class="ui-g form-group">
              <div class="ui-g-12" style="padding-bottom: 0px">
                <label><span class="text-danger">*</span>Código tipo documental</label>
              </div>
              <div class="ui-g-12" style="padding-top: 0px">
              <span class="ui-float-label">
                <p-chips id="chipCodTypeRecord" formControlName="codTypeRecord" (input)="changeChips()"></p-chips>
              </span>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12 text-right">
          <button class="buttonMain" icon="pi pi-plus" iconPos="left" label="Guardar"
                  pButton type="button" (click)="saveConfig()" [disabled]="getValidateButtonSave">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
