<div class="profile" [ngClass]="{'profile-expanded':active}">
  <!--<div class="profile-image"></div>-->
  <a href="#" (click)="onClick($event)">
    <span class="profile-name">{{ username }}</span>
   <!-- <i class="material-icons">keyboard_arrow_down</i> -->
  </a>
</div>

<!-- <ul class="ultima-menu profile-menu" [@menu]="active ? 'visible' : 'hidden'">
  <!--<li role="menuitem">
    <a href="#" class="ripplelink" [attr.tabindex]="!active ? '-1' : null">
      <i class="material-icons">person</i>
      <span>Perfil de usuario</span>
    </a>
  </li>
  <li role="menuitem" *ngIf="(isBpmManager() | async)">
    <a href="#" class="ripplelink" [attr.tabindex]="!active ? '-1' : null" (click)="_onSecurityRole($event)">
      <i class="material-icons">settings_application</i>
      <span>Administraci&oacute;n de usuarios</span>
    </a>
  </li>-->
  <!-- <li role="menuitem">
    <a href="#" (click)="logout($event)" class="ripplelink" [attr.tabindex]="!active ? '-1' : null">
      <i class="material-icons">power_settings_new</i>
      <span>Salir de sessión</span>
    </a>
  </li>
</ul> -->
