<div class="ui-fluid">
  <p-card class="my-card">
    <div class="ui-g">
      <div class="ui-sm-12 ui-g-6">
        <div class="ui-g-12">
          <h2 class="text-left page-title-primary">Parametrizar excepción por serie/subserie</h2>
          <hr class="hr-sub-title">
        </div>
      </div>
    </div>
  </p-card>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div [formGroup]="formException" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" [ngClass]="{'requerid': objectStore }">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <p-dropdown [editable]="false" [autoDisplayFirst]="true"
                          [filter]="true" [resetFilterOnHide]="true"
                          [autoWidth]="false" formControlName="objectStore"
                          id="objectStore" [options]="objectStoreList"></p-dropdown>
                <label [ngClass]="{'ddfilled': formException.get('objectStore').value != null}" for="objectStore">Object Store</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formException" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" [ngClass]="{'requerid': codSerie }">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSerie" id="codSerie" pInputText type="text" maxlength="20">
                <label><span class="text-danger">*</span>Código serie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formException" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSubSerie" id="codSubSerie" pInputText type="text" maxlength="20">
                <label><span class="text-danger">*</span>Código subserie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formException" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codDependencia" id="codDependencia" pInputText type="text" maxlength="50">
                <label><span class="text-danger">*</span>Código dependencia productora</label>
              </span>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12 text-right">
          <button class="buttonMain" icon="pi pi-plus" iconPos="left" label="Agregar"
                  pButton type="button" (click)="addException()" [disabled]="formException.invalid">
          </button>
        </div>
        <div class="divPanel">
          <div class="ui-g ui-fluid divTable">
            <div class="ui-g-12">
              <p-dataTable emptyMessage="No se encontraron resultados" [value]="listadoExepciones$ | async"
                           [responsive]="true"
                           [scrollable]="true"
                           [rows]="5"
                           [paginator]="true">
                <p-column [sortable]="true" [style]="{'width':'120px'}" header="Object Store">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.objectStore}}
                  </ng-template>
                </p-column>
                <p-column [sortable]="true" [style]="{'width':'120px'}" header="Serie documental">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.codSerie}}
                  </ng-template>
                </p-column>
                <p-column [sortable]="true" [style]="{'width':'120px'}" header="Subserie documental">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.codSubSerie}}
                  </ng-template>
                </p-column>
                <p-column [sortable]="true" [style]="{'width':'120px'}" header="Dependencia productura">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.codDependencia}}
                  </ng-template>
                </p-column>
                <p-column header="Acciones" [style]="{'text-align':'center','width':'60px'}">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    <i class="fa ui-icon-mode-edit icons" pTooltip="Editar" tooltipPosition="top"
                       (click)="editExcepcion(row)"></i>
                    <i class="fa ui-icon-delete icons" pTooltip="Eliminar" tooltipPosition="top"
                       (click)="deleteExeption(row)"></i>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="editarExcepcion" [responsive]="true"
          (onHide)="hideEditarExcepcion()" [width]="1000" [positionTop]="20">
  <p-header>
    Parametrizar excepción por series/subseries
  </p-header>
  <app-popup-editar-excepcion #editException (opt)="hideEditarExcepcion()"></app-popup-editar-excepcion>
</p-dialog>

