<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-sm-12 ui-g-12">
      <h3>Rango de fecha</h3>
    </div>
    <div class="ui-sm-12 ui-g-12">
      <div class="ui-sm-5 ui-g-5 text-left" [formGroup]="formHorario">
        <div class="ui-g form-group">
          <div class="ui-g-8">
          </div>
          <div class="ui-g-12">
                    <span class="ui-float-label">
                     <p-calendar [(ngModel)]="start_date" [showIcon]="true" dateFormat="dd/mm/yy" [locale]="es"
                                 (ngModelChange)="changeDateAndHourRack($event, 'start', 'date')"
                                 id="fechaInicial" [icon]="iconCalendar" [required]="true"
                                 formControlName="fechaInicial"></p-calendar>
                      <label for="fechaInicial" class="float-calendar"><span
                        class="text-danger">*</span>Fecha Inicial</label>
                    </span>
          </div>
        </div>
      </div>
      <div class="ui-sm-2 ui-g-2"></div>
      <div class="ui-sm-5 ui-g-5 text-left" [formGroup]="formHorario">
        <div class="ui-g form-group">
          <div class="ui-g-8">
          </div>
          <div class="ui-g-12">
                    <span class="ui-float-label">
                    <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" id="fechaFinal" [required]="true"
                                (ngModelChange)="changeDateAndHourRack($event, 'end', 'date')"
                                [locale]="es" [icon]="iconCalendar" [(ngModel)]="end_date" [minDate]="start_date"
                                formControlName="fechaFinal">
                    </p-calendar>
                      <label for="fechaFinal" class="float-calendar"><span
                        class="text-danger">*</span>Fecha Final</label>
                    </span>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-12">
      <h3>Rango de hora</h3>
    </div>
    <div class="ui-sm-12 ui-g-12">
      <div class="ui-sm-5 ui-g-5 text-left" [formGroup]="formHorario">
        <label><span class="text-danger">*</span>Desde</label>
        <p-dropdown [options]="start" [editable]="false" [(ngModel)]="strartExecute" appendTo="body"
                    [filter]="true" formControlName="strartExecute" id="strartExecute" (onChange)="changeDateAndHourRack($event, 'start', 'hour')"
                    [autoWidth]="false" [autoDisplayFirst]="true"></p-dropdown>
      </div>
      <div class="ui-sm-2 ui-g-2"></div>
      <div class="ui-sm-5 ui-g-5 text-left" [formGroup]="formHorario">
        <label><span class="text-danger">*</span>Hasta</label>
        <p-dropdown [options]="end" [editable]="false" [(ngModel)]="endExecute" appendTo="body"
                    [filter]="true" formControlName="endExecute" id="endExecute" (onChange)="changeDateAndHourRack($event, 'end', 'hour')"
                    [autoWidth]="false" [autoDisplayFirst]="true"></p-dropdown>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-12 text-right">
      <button class="buttonMain" icon="pi pi-save" iconPos="left" label="Actualizar"
              pButton type="button" (click)="updateExecuteData()" [disabled]="formHorario.invalid || invalidDate">
      </button>
    </div>
  </div>
</div>
