#lista1 {
  /*font-family:Arial;*/
  /*font-weight:bold;*/
  /*font-size:13px;*/
  padding: 0px;
}
.separador {
  color:black;
}
#lista1 li {
  display:inline;
  padding-left:0px;
  padding-right:0px;
  /*background-color:black;*/
}
a {
  color:black;
  text-decoration:none;
}
a:hover {
  color:black;
  /*background-color:lightgray;*/
}
