<div class="topbar clearfix" *ngIf="isAuthenticated">
  <!--  <div class="topbar-left">-->
  <!--    <div class="logo"></div>-->
  <!--  </div>-->

  <div class="topbar-right">
    <!--    <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)" *ngIf="isAuthenticated">-->
    <!--      <i></i>-->
    <!--    </a>-->
    <div class="ui-sm-1 ui-md-1 ui-g-1 ui-lg-1" style="width: 27px">
      <a href="#" (click)="app.onMenuButtonClick($event)"
         *ngIf="isAuthenticated">
        <i class="material-icons" style="font-size: 27px;margin-top: -9px;color: #444444;"
           (click)="iconMenu()">{{menuIcon}}</i>
      </a>
    </div>
    <!--      <div class="ui-g-11 ui-md-6 ui-lg-6" style="margin-top: -16px;width: 585px;">-->
    <div class="ui-sm-10 ui-md-5 ui-g-5 ui-lg-5" >
      <ul id="lista1" style="line-height: 12px;margin-top: -3px;">
        <li *ngFor="let item of items">
          <span class="separador"> / </span><a style="font-size: 13px">{{item.label}}</a>
        </li>
      </ul>
    </div>

    <!--    right-->
    <div class="ui-sm-1 ui-md-1 ui-g-1 ui-lg-1" style="width: 2px">
      <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)"
         style="right: 5px; position: absolute;">
        <i class="material-icons" style="font-size: 27px;">sort</i>
      </a>
    </div>

    <ul class="topbar-items animated fadeInDown" [ngClass]="{'topbar-items-visible': app.topbarMenuActive}"
        *ngIf="isAuthenticated" style="margin-top: -5px; padding-top: 0px">
      <li #profile class="profile-item" *ngIf="app.profileMode==='top'||app.isHorizontal()"
          [ngClass]="{'active-top-menu':app.activeTopbarItem === profile}">

        <a href="#" (click)="app.onTopbarItemClick($event,profile)">
          <div class="profile-image"></div>
          <span class="topbar-item-name"></span>
        </a>

        <ul class="ultima-menu animated fadeInDown">
          <li role="menuitem">
            <a href="#">
              <i class="material-icons">person</i>
              <span>Profile</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#">
              <i class="material-icons">security</i>
              <span>Privacy</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#">
              <i class="material-icons">settings_applications</i>
              <span>Settings</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#">
              <i class="material-icons">power_settings_new</i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </li>
      <!--      <li #settings [ngClass]="{'active-top-menu':app.activeTopbarItem === settings}"-->
      <!--          *ngIf="showAdministration() | async">-->
      <!--        <a href="#" (click)="app.onTopbarItemClick($event,settings)">-->
      <!--          <i class="topbar-icon material-icons animated swing">settings</i>-->
      <!--          <span class="topbar-item-name">Configuración</span>-->
      <!--        </a>-->
      <!--        <ul class="ultima-menu animated fadeInDown">-->
      <!--          <li role="menuitem" *ngFor="let routeLink of routerLinks">-->
      <!--            <a *ngIf="routeLink.routerLink" [routerLink]="routeLink.routerLink" (click)="clickLink(routeLink)">-->
      <!--              <i class="material-icons">{{ routeLink.icon}}</i>-->
      <!--              <span>{{routeLink.label}}</span>-->
      <!--            </a>-->
      <!--            <a *ngIf="!routeLink.routerLink" (click)="clickLink(routeLink)" cursor-pointer>-->
      <!--              <i class="material-icons">{{ routeLink.icon}}</i>-->
      <!--              <span>{{routeLink.label}}</span>-->
      <!--            </a>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </li>-->


    </ul>
  </div>
</div>
