p-dialog .ui-dialog {
  overflow: auto !important;
  max-height: 80%;
}

p-confirmDialog .ui-dialog {
  overflow: auto !important;
  max-height: 95%;
}

body .ui-radiobutton .ui-radiobutton-box .pi-circle-on {
  background-color: #005C90 !important;
  transform: scale(0.5) !important;
  color: #005c90 !important;
}

.label-dropdown {
  top: 50%;
}

.label-span {
  color: #898989 !important;
}

.icons {
  cursor: pointer;
  font-size: 25px !important;
  color: #005C91 !important;
}

.iconsIndice {
  margin: 5px;
  cursor: pointer;
  font-size: 25px !important;
  color: #005C91 !important;
}

.iconsFA {
  margin: 5px;
  cursor: pointer;
  font-size: 23px !important;
  color: #ffffff !important;
}

.iconsGrayFA {
  margin: 5px;
  cursor: pointer;
  font-size: 23px !important;
  color: #545454 !important;
}

.icons-primary {
  cursor: pointer;
  font-size: 21px !important;
  color: #8BC34A !important;
}

.icons-secundary {
  cursor: pointer;
  font-size: 21px !important;
  color: #FF9800 !important;
}

.icons-tertiary {
  cursor: pointer;
  font-size: 21px !important;
  color: #F44336 !important;
}

.ui-card-body {
  padding: unset !important;
}

hr {
  border: unset;
}

.icons {
  cursor: pointer;
  font-size: 30px !important;
  color: #005C91 !important;
}

.divContentDialog {
  min-height: 75px !important;
}

.mat-dialog-container {
  width: 1000px !important;
}

body .ui-state-highlight {
  background-color: #26c6da !important;
  //background-color: #005c90 !important
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header {
  background-color: #005C90 !important;
  color: #ffffff !important;
  font-size: 1em !important;
  border: 1px solid #005C90 !important;
}

body .ui-dialog .ui-dialog-titlebar-icon span {
  font-size: 20px !important;
}

.ui-float-label > input.ui-state-filled ~ label {
  top: -13px !important;
}

.textCenterTable {
  position: relative;
  text-align: center;
  line-height: 35px;
  font-weight: normal;
}

body .ui-fileupload .ui-fileupload-buttonbar {
  background-color: #005C90 !important;
}

.ui-dropdown -ui.dropdown-label {
  color: black !important;
}

body .ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
  font-size: 22px;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button {
  background-color: #26c6da !important;
}

body .ui-button.ui-button-text-icon-left {
  padding-left: 1.5em !important;
}

body .ui-button {
  font-size: 13px !important;
}

body .ui-fluid .ui-fileupload-content .ui-button-icon-only {
  width: 33px !important;
}

body .ui-button-icon-only .ui-button-icon-left {
  font-size: 19px !important;
}

.ui-card-title {
  color: #3F51B5;
  font-size: 14px;
}

// ---------------------check
.myCheck {
  //padding: 20px 0 0 10px;
  position: relative;
  top: 30px;
  left: 10px;
}

// end check

// --------------------float
/**body .md-inputfield input:focus ~ label,
body .md-inputfield input.ui-state-filled ~ label,
body .md-inputfield .ui-inputwrapper-focus ~ label,
body .md-inputfield .ui-inputwrapper-filled ~ label {
  top: -20px !important;
  font-size: 13px !important;
  color: #999 !important;
  font-weight: normal;
}*/

body .ui-float-label > .ui-inputwrapper-filled ~ label {
  top: -13px !important;
  font-size: 13px !important;
}

.ui-float-label > textarea:focus ~ label,
.ui-float-label > textarea.ui-state-filled ~ label,
.ui-float-label > .ui-textareawrapper-focus ~ label,
.ui-float-label > .ui-textareawrapper-filled ~ label {
  top: -.75em !important;
  font-size: 13px;
}


// card
.my-card .ui-widget-content {
  background-color: #ffffff;
  //box-shadow: 0px 0px 1px 0px;
  border-color: #e5e5e5;
  border-bottom: 1px solid #00000033;
}

// end card

// panel
.my-panel .ui-widget-header {
  background-color: white;
  color: #005c90;
  font-family: Cairo, "Roboto", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  border: 1px solid #CACACA;
  //text-align: left;
}

.my-panel .ui-paginator {
  box-sizing: border-box;
  color: #005c90;
}

.my-panel .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: #106CC8;
  margin: 0;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.my-panel .ui-panel .ui-panel-titlebar {
  border: 0 none;
  padding: 0.625em 1em;
  padding-right: 0px;
  padding-left: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #FFF;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.my-panel .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover {
  background-color: #fff0;
}

// end panel

body .ui-dropdown-panel .ui-dropdown-item.ui-state-highlight {
  background-color: #26c6da !important;
}

body .ui-paginator .ui-paginator-pages a.ui-state-active {
  background-color: #26c6da !important;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-item.ui-state-highlight {
  background-color: #26c6da !important;
}

/* You can add global styles to this file, and also import other style files */

body .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only {
  color: black;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-chkbox .ui-chkbox-box {
  border-color: #444444 !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

swiper {
  height: auto;
  max-height: 600px;
  width: 100%;
}

.swiper-wrapper {
  z-index: -1 !important;
}

.swiper-slide {
  margin-top: 90px;
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow-y: auto;
}

.swiper-pagination-bullet {
  height: 45px;
  width: 200px;
  position: relative;
  background: rgba(0, 0, 0, 0.2) !important;
  color: #000;
  text-align: center;
  vertical-align: middle;
  border-radius: 0% !important;
  margin-top: 30px;
  margin-left: 20px;
}

.swiper-text {
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.swiper-pagination-bullet:after, .swiper-pagination-bullet:before {
  left: 100%;
  top: 95%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;

}

.swiper-pagination-bullet:after {
  border-width: 40px !important;
  margin-top: -60px !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 0 !important;
  height: 0 !important;
  border-left: 13px solid #ffffff !important;
  border-top: 40px solid transparent !important;
  border-bottom: 40px solid transparent !important;
}

.swiper-pagination-bullet:focus {
  outline: 0;
}

.swiper-pagination-bullet:before {
  left: 100%;
  top: 0%;
  border-left: 13px solid #4CAF50;
  border-top: 20px solid transparent;
  border-bottom: 25px solid transparent;
}

.swiper-pagination-bullet-active {
  background: #4CAF50 !important;
  color: #ffffff !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 30px !important;
  width: 20px !important;
  height: 30px !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #007aff;
}


.ui-progress-spinner {
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  display: block;
  z-index: 999999999;

  .ui-progress-spinner-svg .ui-progress-spinner-circle {
    fill: transparent;
  }
}

[padding-bottom-50] {
  padding-bottom: 50px !important;
}

.ui-dialog-content {
  height: auto !important;
}

.ui-dialog {
  //overflow: scroll;
}

.ui-dialog-content.ui-widget-content {
  overflow: visible !important;
}

.ui-datatable-header {
  text-align: left !important;
  min-height: 35px;
}

body .ui-datatable .ui-datatable-thead > tr th.ui-selection-column.select-with-title .ui-chkbox-box {
  margin-left: 16px;
}


thead th {
  background-color: #eee !important;
}

thead tr th {
  overflow: inherit !important;
  //font-weight: 400;
  //color: #212121;
  //border: 1px solid #cacaca !important;
  //padding: 0.625em 1em !important;
}

.ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
  background-color: #26C6DA !important;
  color: #ffffff;
}

.ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
  background-color: #26C6DA !important;
  color: #ffffff;
}

//tbody tr td{
tbody tr {
  background-color: #ffffff !important;
}

//tbody tr td{
//  background: inherit;
//  border: 1px solid #cacaca;
//  color: #000000;
//  padding: 0.625em 1em !important;
//}

.short-table {
  width: 25%;
}

@import "assets/theme/theme-indigo";

[hidden] {
  display: none !important;
}

.hidden {
  display: none !important;
}

@media print {

  @page {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }

  .topbar, .layout-menu, .layout-mask, .layout-main {
    display: none;
  }

  * {
    color: #000;
    background-color: #fff;
  }

  #ticket {
    z-index: 999999999999999999;
    visibility: visible;
    position: relative;
    color: black;
    display: block;
    margin: 0 auto;
  }

}

.dialog-auto-with {
  max-width: 80%;
}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
  padding: 2px;
}

body .ui-panel .ui-panel-content {
  padding: 8px 0 8px 0;
}

body .ui-datatable .ui-paginator {
  padding: .125em;
}

p-dataTable .ui-datatable-header .ui-widget-header {

}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
}

.ui-button.ui-button-icon.ui-button-icon-only {
  font-size: .8em;
}

.layout-container .topbar .topbar-right {
  padding: 10px 15px 0 5px;
  position: relative;
}

.line-spacer {
  line-height: 10px;
  height: 10px;
}

.padding-12 {
  padding: 12px;
}

.padding-5 {
  padding: 5px;
}

.padding-hor-5 {
  padding: 8px 0 8px 0;
}

.page-title {
  margin: 5px 0 5px 0px;
  /*color: darken($primaryDarkColor, 2%);*/
  color: #424242;
  margin-right: 13px;
  margin-left: 17px;
}

.page-title-primary {
  margin: 5px 0 5px 0px;
  /*color: darken($primaryDarkColor, 2%);*/
  color: #424242;
}

.page-title-primary-indice {
  margin: 5px 0 5px 0px;
  /*color: darken($primaryDarkColor, 2%);*/
  color: #3F51B5;
}

.hr-sub-title {
  height: 5px;
  width: 55px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #3F51B5;
}

.page-subtitle {
  margin: 8px 0 8px 10px;
  color: $primaryColor;
}

.text-danger {
  color: #d43f3a;
  margin-right: 5px;
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 20px;
}

.text-left {
  text-align: left;
}

.padding-top {
  padding-top: 20px;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

p-dataTable {
  .md-inputfield label {
    color: white;
  }

  .md-inputfield input:focus ~ label,
  .md-inputfield input.ui-state-filled ~ label,
  .md-inputfield .ui-inputwrapper-focus ~ label,
  .md-inputfield .ui-inputwrapper-filled ~ label {
    color: transparent;
  }

  .ui-inputtext {
    border-color: white;
  }

  button .ui-widget:disabled, .ui-state-disabled {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
    -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
  }

  @media (max-width: 500px) {
    p-header {
      .ui-media-mobile-row {
        width: 100%;
      }

      .md-inputfield {
        width: calc(100% - 95px) !important;
      }
    }
  }
}

.ui-button-primaryDark {
  background-color: darken($primaryColor, 8%);
}

body .md-dropdownfield {
  .ui-message {
    border: none;
    margin: 0;
  }

  .ui-messages-error {
    color: #f44336;
    background-color: transparent;
    font-size: 11px;
    position: absolute;
  }
}

span.table-text-custom {
  padding: 8px;
  position: relative;
  top: -5px;
}

span.table-text-custom-secundary {
  padding: 8px;
  position: relative;
  top: -4px;
}

[padding-bottom] {
  padding-bottom: 20px !important;
}

.comunicacion-detalles {
  [padding-top] {
    padding-top: 16px;
  }

  .ui-datatable-header {
    text-align: left !important;
  }

  thead th {
    background-color: #eee !important;
  }

  thead tr th {
    overflow: inherit !important;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
    background-color: #26C6DA !important;
    color: #ffffff;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
    background-color: #26C6DA !important;
    color: #ffffff;
  }

  tbody tr {
    background-color: #ffffff !important;
  }

  [no-padding] .ui-tabview-panel.ui-widget-content {
    padding: 0 !important;
  }

}

.padding-top {
  padding-top: 40px;
}

.doc-selected .ui-fileupload-choose {
  display: none;
}

.margin-20 {
  margin: 20px 0;
}

.ui-tooltip-text.ui-shadow.ui-corner-all {
  /* ptooltip  css*/
}

.radicar-comunicaciones .pdf-container > pdf-viewer > div.ng2-pdf-viewer-container > div > canvas {
  max-width: 100% !important;
}

.dashboard .overview {
  min-height: 0;
  padding: 30px;
}

[cursor-pointer] {
  cursor: pointer;
}

.ticket-radicado {
  overflow: hidden !important;
  width: 100% !important;
}

p-dialog .ticket-radicado {
  overflow: auto !important;
  max-height: 95%;
}

@media (min-width: 800px) {
  div.ticket-radicado {
    width: 550px !important;
  }
}

.pdf-container-print embed {
  min-height: 400px !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif, "Helvetica Neue", sans-serif;
}

.iconsMaterial {
  background-color: #4caf50 !important;
  width: 31px !important;
  height: 29px !important;
  padding: 0 0 0 0 !important;
  margin-right: 10px !important;
  margin-top: 8px !important;
  float: right !important;
  color: #ffffff !important;
  display: inline-block !important;
  border: 0 none;
  cursor: pointer;
  box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
}

body .ui-float-label > p-dropdown.ng-valid ~ label {
  //top: -.75em;
}

.ui-float-label > .ng-dirty ~ label {
  //top: -.75em !important;
}

.ddfilled {
  top: -.75em !important;
}

body .ui-float-label p-dropdown:focus ~ label,
body .ui-float-label p-dropdown.ui-state-filled ~ label {
  top: -.75em !important;
  font-size: 13px;
}

body .ui-float-label input:focus ~ label,
body .ui-float-label input.ui-state-filled ~ label,
body .ui-float-label .ui-inputwrapper-focus ~ label,
body .ui-float-label .ui-inputwrapper-filled ~ label,
body .ui-float-label .input:-webkit-autofill ~ label {
  top: -.75em !important;
  font-size: 13px;
}

// end float

body .ui-dropdown .ui-dropdown-label.ui-inputtext {
  color: black;
}

label {
  font-size: 13px;
  //color: #757575;
}

//-----------------calendar
body .ui-calendar .ui-datepicker-trigger {
  bottom: 20px !important;
  left: 90% !important;
}

body .ui-datepicker tbody td a.ui-state-active {
  background-color: #005C90 !important;
}

//end calendar

// --------------------------div
.divInput {
  padding-top: 15px !important;
}

.divMain {
  padding: 12px !important;
  padding-bottom: 1px !important;
}

.divSecundary {
  padding-top: 12px !important;
}

.divPanel {
  //padding: 20px !important;
  padding-top: 0px !important;
}

.divCard {
  padding: 5px !important;
  padding-top: 0px !important;
}

// end div

// ------------------------calendar
.ui-datepicker .ui-datepicker-title {
  color: white !important;
}

.float-calendar {
  top: 12px !important;
}

.float-textarea {
  top: 15% !important;
}

// end calendar

// -------------------table
.divTable {
  padding-top: 20px !important;
}


.headerMainTable {
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
}

.headerTable {
  line-height: 35px;
  font-size: 17px;
  font-weight: bold;
}

.ui-datatable-header {
  color: white !important;
}

body .ui-datatable .ui-paginator {
  background-color: #005c90;
}

body .ui-datatable.ui-datatable-scrollable thead tr th {
  font-size: 13px !important;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-foote {
  background-color: #005c90 !important;
}

body .ui-datatable .ui-datatable-data tr td {
  font-size: 13px !important;
}

body .ui-datatable .ui-datatable-thead > tr th .ui-column-title {
  display: contents !important;
  font-size: 13px !important;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
  padding: 0px 8px !important;
}

body .ui-datatable .ui-datatable-data tr.ui-state-highlight {
  border-color: #cacaca !important;
}

// end table

// -------------------input
body .ui-inputtext {
  resize: none;
}

.ui-multiselect .ui-multiselect-label {
  color: #424242 !important;
  font-size: 14px !important;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-item.ui-state-highlight {
  color: white !important;
}

// end input


// -------------------tabview
body .ui-tabview .ui-tabview-nav > li .ui-tabview-left-icon {
  font-size: 20px !important;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav {
  font-size: 14px !important;
  font-weight: bold;
}

body .ui-tabview .ui-tabview-nav > li.ui-state-active {
  border-color: #005C90 !important;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav li {
  border-color: white !important;
}

body .ui-tabview {
  border: 0px !important;
}

// end tabview

// ------------------buttonList
body .ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link {
  text-align: left !important;
  font-size: 13px !important;
}

.pdf-container-print embed {
  min-height: 400px !important;
}

body .ui-menu.ui-shadow {
  padding: 0px !important;
  width: auto;
  right: 0px !important;
  left: auto;
}

// end buttonList

// -------------------button
.ui-fluid .ui-button-text-icon-left .ui-button-text, .ui-fluid .ui-button-text-icon-right .ui-button-text {
  font-size: 14px !important;
}

.buttonMainNext {
  width: 100px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
  font-weight: bold !important;
}


.buttonMain {
  width: 100px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
}

.buttonGenerarIndice {
  width: 199px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
}

.buttonMainConsole {
  width: 150px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
}

.buttonXmlViewer {
  width: 120px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
}

.tittleIndice {
  margin-top: 1%;
}

.buttonSecundary {
  width: 100px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  background-color: white !important;
  color: #005C90 !important;
  padding: 0 6px 0 16px !important;
}

.pbuttonMain {
  width: 100px !important;
  margin-right: 10px;
  margin-top: 8px;
  padding: 0 6px 0 16px !important;
}

.buttonSecundaryDialog {
  background-color: white !important;
  color: #005C90 !important;
  width: 100px !important;
}

.buttonMainDialog {
  width: 100px !important;
}

.buttonTertiary {
  width: 100px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
  background-color: #4cae4c !important;
}

.buttonHeaderTable {
  width: 100px !important;
  margin-right: 10px;
  float: right;
  padding: 0 6px 0 16px !important;
  background-color: #4cae4c !important;
}

.buttonHeaderTableSecundary {
  width: 120px !important;
  margin-right: 10px;
  float: right;
  padding: 0 6px 0 16px !important;
  background-color: #4cae4c !important;
}

.buttonTittleMain {
  width: 120px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
  background-color: #4cae4c !important;
}

.splitbuttonHeaderTable {
  width: 150px !important;
  margin-right: 10px;
  float: right;
  padding: 0 6px 0 16px !important;
  background-color: #4cae4c !important;
}

body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
  background-color: #34A835 !important;
}

/*body .ui-buttonset .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
  background-color: #319932 !important;
}*/

body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
  background-color: #34A835 !important;
}

.buttonContentTable {

}

.ui-button-text-icon-left .ui-button-icon-left {
  font-size: 20px !important;
  left: 4px !important;
  top: 49% !important;
}

// end button

svg {
  width: 100%;
}

@media (min-width: 1025px) {
  div.ticket-panel {
    width: 520px !important;
  }
}

.requerid {
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

.requerid1 {
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

.despues {
  font-size: 30px;
  cursor: pointer;
  border: outset;

}

.antes {
  font-size: 30px;
  cursor: pointer;
  border: outset;

}

.padding-container {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.visor-pdf {
  width: 100%;
}

@media (min-width: 500px) {
  div.visor-pdf {
    width: 900px;
  }
}

.dialog-destinatario {
  width: 100% !important;
}

@media (min-width: 1000px) {
  div.dialog-destinatario {
    width: 900px !important;
  }
}

.dialog-visor-pdf {
  width: 100% !important;
}

@media (min-width: 1000px) {
  div.dialog-visor-pdf {
    width: 1000px !important;
  }
}

.dialog-plantilla {
  width: 100% !important;
}

@media (min-width: 1000px) {
  div.dialog-plantilla {
    width: 800px !important;
  }
}

.dialog-confirmacion {
  width: 100% !important;
}

@media (min-width: 1000px) {
  div.dialog-confirmacion {
    width: 510px !important;
  }
}

.dialog-observaciones {
  width: 100% !important;
}

@media (min-width: 1000px) {
  div.dialog-observaciones {
    width: 500px !important;
  }
}

.dialog-credenciales-firma {
  width: 100% !important;
}

@media (min-width: 1000px) {
  div.dialog-credenciales-firma {
    width: 800px !important;
  }
}

.dialog-duplicar-radicado {
  width: 100% !important;
}

@media (min-width: 1000px) {
  div.dialog-duplicar-radicado {
    width: 400px !important;
  }
}

.dialog-descripcion-archivistica {
  width: 100% !important;
}

@media (min-width: 1300px) {
  div.dialog-descripcion-archivistica {
    width: 1255px !important;
  }
}

.dependencia-movil {
  top: -10px !important;
}

@media (min-width: 1025px) {
  div.dependencia-movil {
    top: 0px !important;
  }
}

body .ui-buttonset .ui-button.ui-state-active {
  background-color: #005C90 !important;
}

.buttonCSV {
  width: 100px !important;
  margin-right: -55px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
  cursor: pointer;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.menuIcons {
  cursor: pointer;
  font-size: 23px !important;
  color: #005C91 !important;
}

.iconsMenu {
  cursor: pointer;
  font-size: 30px !important;
  color: #ffffff !important;
}


.menuStyle span {
  color: #212121;
  font-size: 13px;
}


.menuStyle a:hover {
  background-color: #e7e7e7;

}

.icon-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

body .ui-datatable .ui-paginator {
  background-color: #005c90;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-foote {
  background-color: #005c90 !important;
}

// ESTILOS DE ADMINISTRACIÓN

/**p-dialog .ui-dialog {
  overflow: auto;
  max-height: 100%;
}*/

// card
.my-card .ui-widget-content {
  background-color: #ffffff;
  border-color: #e5e5e5;
  border-bottom: 1px solid #00000033;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header {
  background-color: #005C90 !important;
  color: #ffffff !important;
  font-size: 1em !important;
  border: 1px solid #005C90 !important;
}

body .ui-fileupload .ui-fileupload-buttonbar {
  background-color: #005C90 !important;
}

body .ui-datepicker tbody td a.ui-state-active {
  background-color: #005C90 !important;
}

body .ui-datatable .ui-paginator {
  background-color: #005c90;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-foote {
  background-color: #005c90 !important;
}

body .ui-tabview .ui-tabview-nav > li.ui-state-active {
  border-color: #005C90 !important;
}


// end card
.w {
  width: 100%;
}

// linea
.hr-sub-title {
  height: 5px;
  width: 55px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #3F51B5;
}

// titulo
.page-title-primary {
  margin: 5px 0 5px 0px;
  /*color: darken($primaryDarkColor, 2%);*/
  color: #424242;
}

// panel


.my-panel .ui-paginator {
  box-sizing: border-box;
  color: #005c90;
}

.my-panel .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: #106CC8;
  margin: 0;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.my-panel .ui-panel .ui-panel-titlebar {
  border: 0 none;
  padding: 3px 4px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #FFF;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.my-panel .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover {
  background-color: #fff0;
}

// fin panel

body .ui-dropdown-panel .ui-dropdown-item.ui-state-highlight {
  background-color: #26c6da !important;
}

body .ui-paginator .ui-paginator-pages a.ui-state-active {
  background-color: #26c6da !important;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-item.ui-state-highlight {
  background-color: #26c6da !important;
}

.mat-dialog-container {
  width: 1000px !important;
}

/* You can add global styles to this file, and also import other style files */

body .ui-autocomplete .ui-autocomplete-dropdown.ui-button.ui-button-icon-only {
  color: black;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-header .ui-chkbox .ui-chkbox-box {
  border-color: #444444 !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

swiper {
  height: auto;
  max-height: 600px;
  width: 100%;
}

.swiper-wrapper {
  z-index: -1 !important;
}

.swiper-slide {
  margin-top: 90px;
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow-y: auto;
}

.swiper-pagination-bullet {
  height: 45px;
  width: 200px;
  position: relative;
  background: rgba(0, 0, 0, 0.2) !important;
  color: #000;
  text-align: center;
  vertical-align: middle;
  border-radius: 0% !important;
  margin-top: 30px;
  margin-left: 20px;
}

.swiper-text {
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.swiper-pagination-bullet:after, .swiper-pagination-bullet:before {
  left: 100%;
  top: 95%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;

}

.swiper-pagination-bullet:after {
  border-width: 40px !important;
  margin-top: -60px !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 0 !important;
  height: 0 !important;
  border-left: 13px solid #ffffff !important;
  border-top: 40px solid transparent !important;
  border-bottom: 40px solid transparent !important;
}

.swiper-pagination-bullet:focus {
  outline: 0;
}

.swiper-pagination-bullet:before {
  left: 100%;
  top: 0%;
  border-left: 13px solid #4CAF50;
  border-top: 20px solid transparent;
  border-bottom: 25px solid transparent;
}

.swiper-pagination-bullet-active {
  background: #4CAF50 !important;
  color: #ffffff !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 30px !important;
  width: 20px !important;
  height: 30px !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #007aff;
}


.ui-progress-spinner {
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  display: block;
  z-index: 999999999;

  .ui-progress-spinner-svg .ui-progress-spinner-circle {
    fill: transparent;
  }
}

[padding-bottom-50] {
  padding-bottom: 50px !important;
}

.ui-dialog-content {
  height: auto !important;
}

.ui-dialog {
  //overflow: scroll;
}

.ui-dialog-content.ui-widget-content {
  overflow: visible !important;
}

.ui-datatable-header {
  text-align: left !important;
  min-height: 35px;
}

body .ui-datatable .ui-datatable-thead > tr th.ui-selection-column.select-with-title .ui-chkbox-box {
  margin-left: 16px;
}


thead th {
  background-color: #eee !important;
  //width: 100% !important;
}

thead tr th {
  overflow: inherit !important;
  font-weight: 400;
  color: #212121;
  border: 1px solid #cacaca !important;
  padding: 0.625em 1em !important;
}

.ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
  background-color: #26C6DA !important;
  color: #ffffff;
}

.ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
  background-color: #26C6DA !important;
  color: #ffffff;
}

tbody tr {
  // background-color: #ffffff;
}

tbody tr td {
  background: inherit;
  border: 1px solid #cacaca;
  color: #000000;
  padding: 0.625em 1em;

}

.short-table {
  width: 25%;
}

@import "assets/theme/theme-indigo";

[hidden] {
  display: none !important;
}

.hidden {
  display: none !important;
}

@media print {

  @page {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }

  .topbar, .layout-menu, .layout-mask, .layout-main {
    display: none;
  }

  * {
    color: #000;
    background-color: #fff;
  }

  #ticket {
    z-index: 999999999999999999;
    visibility: visible;
    position: relative;
    color: black;
    display: block;
    margin: 0 auto;
  }

}

.dialog-auto-with {
  max-width: 80%;
}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
  padding: 2px;
}

body .ui-panel .ui-panel-content {
  padding: 8px 0 0 0;
}

body .ui-datatable .ui-paginator {
  padding: .125em;
}

p-dataTable .ui-datatable-header .ui-widget-header {

}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
}

.ui-button.ui-button-icon.ui-button-icon-only {
  font-size: .8em;
}

.layout-container .topbar .topbar-right {
  padding: 10px 15px 0 5px;
  position: relative;
}

.line-spacer {
  line-height: 10px;
  height: 10px;
}

.padding-12 {
  padding: 12px;
}

.padding-5 {
  padding: 5px;
}

.padding-hor-5 {
  padding: 8px 0 8px 0;
}

.page-title {
  margin: 5px 0 5px 0px;
  /*color: darken($primaryDarkColor, 2%);*/
  color: #424242;
  margin-right: 13px;
  margin-left: 17px;
}

.page-title-primary {
  margin: 5px 0 5px 0px;
  /*color: darken($primaryDarkColor, 2%);*/
  color: #424242;
}

.hr-sub-title {
  height: 5px;
  width: 55px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #3F51B5;
}

.page-subtitle {
  margin: 8px 0 8px 10px;
  color: $primaryColor;
}

.text-danger {
  color: #d43f3a;
  margin-right: 5px;
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 20px;
}

.text-left {
  text-align: left;
}

.padding-top {
  padding-top: 20px;
}

.text-right {
  text-align: right;
}

p-dataTable {
  .md-inputfield label {
    color: white;
  }

  .md-inputfield input:focus ~ label,
  .md-inputfield input.ui-state-filled ~ label,
  .md-inputfield .ui-inputwrapper-focus ~ label,
  .md-inputfield .ui-inputwrapper-filled ~ label {
    color: transparent;
  }

  .ui-inputtext {
    border-color: white;
  }

  button .ui-widget:disabled, .ui-state-disabled {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
    -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
  }

  @media (max-width: 500px) {
    p-header {
      .ui-media-mobile-row {
        width: 100%;
      }

      .md-inputfield {
        width: calc(100% - 95px) !important;
      }
    }
  }
}

.ui-button-primaryDark {
  background-color: darken($primaryColor, 8%);
}

body .md-dropdownfield {
  .ui-message {
    border: none;
    margin: 0;
  }

  .ui-messages-error {
    color: #f44336;
    background-color: transparent;
    font-size: 11px;
    position: absolute;
  }
}

span.table-text-custom {
  padding: 8px;
  position: relative;
  top: -5px;
}

span.table-text-custom-secundary {
  padding: 8px;
  position: relative;
  top: -4px;
}

[padding-bottom] {
  padding-bottom: 20px !important;
}

.comunicacion-detalles {
  [padding-top] {
    padding-top: 16px;
  }

  .ui-datatable-header {
    text-align: left !important;
  }

  thead th {
    background-color: #eee !important;
  }

  thead tr th {
    overflow: inherit !important;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
    background-color: #26C6DA !important;
    color: #ffffff;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
    background-color: #26C6DA !important;
    color: #ffffff;
  }

  tbody tr {
    background-color: #ffffff !important;
  }

  [no-padding] .ui-tabview-panel.ui-widget-content {
    padding: 0 !important;
  }

}

.padding-top {
  padding-top: 40px;
}

.doc-selected .ui-fileupload-choose {
  display: none;
}

body .ui-fileupload .ui-fileupload-buttonbar {
  background-color: #005C90 !important;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button {
  background-color: #26c6da !important;
}

body .ui-fluid .ui-fileupload-content .ui-button-icon-only {
  width: 33px !important;
}

.margin-20 {
  margin: 20px 0;
}

.ui-tooltip-text.ui-shadow.ui-corner-all {
  /* ptooltip  css*/
}

.radicar-comunicaciones .pdf-container > pdf-viewer > div.ng2-pdf-viewer-container > div > canvas {
  max-width: 100% !important;
}

.dashboard .overview {
  min-height: 0;
  padding: 30px;
}

[cursor-pointer] {
  cursor: pointer;
}

.ticket-radicado.ui-dialog {
  overflow: hidden !important;
  width: auto !important;
}

.pdf-container-print embed {
  min-height: 400px !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif, "Helvetica Neue", sans-serif;
}

.iconsMaterial {
  background-color: #4caf50 !important;
  width: 31px !important;
  height: 29px !important;
  padding: 0 0 0 0 !important;
  margin-right: 10px !important;
  margin-top: 8px !important;
  float: right !important;
  color: #ffffff !important;
  display: inline-block !important;
  border: 0 none;
  cursor: pointer;
  box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
}

.ui-sidebar-right {
  width: 25.5em !important;
}

body .ui-dropdown-panel .ui-dropdown-item.ui-state-highlight {
  background-color: #26c6da !important;
}

body .ui-paginator .ui-paginator-pages a.ui-state-active {
  background-color: #26c6da !important;
}

body .ui-multiselect-panel.ui-widget .ui-multiselect-item.ui-state-highlight {
  background-color: #26c6da !important;
}

label {
  font-size: 13px;
  color: #757575;
}

// --------------------------div
.divMain {
  padding: 12px !important;
  padding-bottom: 1px !important;
}

// end div
// ------------------------calendar
.ui-datepicker .ui-datepicker-title {
  color: white !important;
}

// end calendar
// -------------------table
.ui-datatable-header {
  color: white !important;
}

body .ui-datatable .ui-paginator {
  background-color: #005c90;
}

body .ui-datatable.ui-datatable-scrollable thead tr th {
  font-size: 13px !important;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-foote {
  background-color: #005c90 !important;
}

body .ui-datatable .ui-datatable-data tr td {
  font-size: 13px !important;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
  padding: 0px 8px !important;
}

// end table
// -------------------input
body .ui-inputtext {
  color: #424242 !important;
}

.ui-multiselect .ui-multiselect-label {
  color: #424242 !important;
  font-size: 14px !important;
}

// end input
// --------------------float
body .md-inputfield input:focus ~ label, body .md-inputfield input.ui-state-filled ~ label, body .md-inputfield .ui-inputwrapper-focus ~ label, body .md-inputfield .ui-inputwrapper-filled ~ label {
  top: -29px !important;
  font-size: 13px !important;
  color: #999 !important;
  font-weight: normal;
}

// end float
// -------------------tabview
.ui-tabview.ui-tabview-top > .ui-tabview-nav {
  font-size: 14px !important;
}

body .ui-tabview .ui-tabview-nav > li.ui-state-active {
  border-color: #005C90 !important;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav li {
  border-color: white !important;
}

body .ui-tabview {
  border: 0px !important;
}

// end tabview
// ------------------buttonList
body .ui-menu .ui-menu-list li.ui-menuitem .ui-menuitem-link {
  text-align: left !important;
  font-size: 13px !important;
}

/*body .ui-menu.ui-shadow {
  padding: 0px !important;
  width: auto !important;
  right: 0px !important;
  left: auto !important;
}*/

// end buttonList
// -------------------button
.ui-fluid .ui-button-text-icon-left .ui-button-text, .ui-fluid .ui-button-text-icon-right .ui-button-text {
  font-size: 14px !important;
}

.ui-button-text-icon-left .ui-button-icon-left {
  font-size: 20px !important;
  left: 4px !important;
  top: 49% !important;
}

.buttonMainNext {
  width: 100px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
  font-weight: bold !important;
}

.buttonMain {
  width: 100px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
}

.buttonSecundary {
  width: 100px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  background-color: white !important;
  color: #005C90 !important;
  padding: 0 6px 0 16px !important;
}

.buttonSecundaryDialog {
  background-color: white !important;
  color: #005C90 !important;
  width: 100px !important;
}

.buttonMainDialog {
  width: 100px !important;
}

.buttonTertiary {
  width: 100px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
  background-color: #4cae4c !important;
}

.buttonHeaderTable {
  width: 100px !important;
  margin-right: 10px;
  float: right;
  padding: 0 6px 0 16px !important;
  background-color: #4cae4c !important;
  height: auto !important;
}

.buttonHeaderTableSecundary {
  width: 120px !important;
  margin-right: 10px;
  float: right;
  padding: 0 6px 0 16px !important;
  background-color: #4cae4c !important;
}

.buttonTittleMain {
  width: 120px !important;
  margin-right: 10px;
  margin-top: 8px;
  float: right;
  padding: 0 6px 0 16px !important;
  background-color: #4cae4c !important;
}


.headerTable {
  line-height: 35px;
  font-size: 17px;
  font-weight: bold;
}

.headerDataTable {
  font-size: 17px;
  font-weight: bold;
  margin-top: 8px;
  text-align: left;
}

.divTable {
  padding-top: 20px !important;
}

.divContentPanel {
  padding-right: 15px;
  padding-left: 15px;
}

.divInput {
  padding-top: 15px !important;
}

.divSecundary {
  padding-top: 12px !important;
}

.divPanel {
  padding-top: 0px !important;
}

.divCard {
  padding: 5px !important;
  padding-top: 0px !important;
}

.divMain {
  padding: 12px !important;
  padding-bottom: 1px !important;
}


// end button
// card

// end card
// panel


.my-panel .ui-paginator {
  box-sizing: border-box;
  color: #005c90;
}

.my-panel .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: #106CC8;
  margin: 0;
  transition: background-color 0.3s;
  border-radius: 50%;
}

.my-panel .ui-panel .ui-panel-titlebar {
  border: 0 none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #FFF;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.my-panel .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover {
  background-color: #fff0;
}

// end panel

//iconos
.icons {
  cursor: pointer;
  font-size: 30px;
  color: #005C91 !important;
}

.subtitulo {
  margin: 5px 5px 0 0;
  color: #000000;
  font-size: 14px;
}

.parrafo {
  margin-left: 0px;
  margin-top: 5px;
}

.iconos {
  font-size: 2.5em;
  margin-right: 10px;
  margin-left: 40px;
  cursor: pointer;
  color: #5180CE
}

.lineaPrincipal {
  height: 5px;
  width: 55px;
  margin-left: 6px;
  margin-right: 0px;
  background-color: #3F51B5;
}

.separadores {
  height: 0px;
  width: 101%;
}

.tituloStrong {
  margin: 5px 5px 0 -10px;
  color: #000000;
  font-size: 13px;
}

.parrafoH {
  margin-left: -10px;
  margin-top: 5px;
}

.ui-inputswitch-slider:before {
  position: absolute;
  content: "";
  top: -2px;
  height: 1.250em;
  width: 1.250em;
  left: .10em;
  bottom: .25em;
  border-radius: 50%;
  transition: .3s;
  background-color: #5484CC;
}

.ui-steps .ui-steps-item {
  //width: 35%;
}

body .ui-steps:before {
  border: none !important;;
}


.ui-steps.steps-custom {
  margin-top: 15px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 30px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

.image-gallery-2 {
  width: 100%;
  position: relative;
  height: 500px !important;
  background: #000;
  margin-top: 60px;
  margin-bottom: 15px;
}

.myCheck {
  position: relative;
  left: 10px;
  padding: 0 !important;
}

.myCheckIndividual {
  position: relative;
  left: 10px;
}

body .fc-scroller {
  overflow: visible !important;
  height: 100% !important;
}

body .fc-dayGrid-view .fc-body .fc-row {
  min-height: 4em;
  height: 80px !important;
}

body .ui-float-label > p-dropdown.ng-valid ~ label {
  top: -.75em;
}

body .ui-radiobutton .ui-radiobutton-box .pi-circle-on {
  background-color: #005C90 !important;
  transform: scale(0.5) !important;
  color: #005c90 !important;
}

th.fc-axis.fc-widget-header {
  width: 29px !important;
}

.dialog-dias-no-laborales {
  overflow: auto;
}

p-dialog .dialog-dias-no-laborales {
  overflow: auto;
  max-height: 95%;
}
