<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet">
<div class="ui-fluid">
  <p-card class="my-card">
    <div class="page-title">
      <div class="ui-g">
        <div class="ui-sm-12 ui-g-10">
          <div class="ui-g-12">
            <h2 class="text-left page-title-primary">Consola de seguimiento ejecucción índice electrónico</h2>
            <hr class="hr-sub-title">
          </div>
        </div>
        <div class="ui-sm-12 ui-g-2">
          <div class="ui-g-12">
            <p-splitButton class="buttonGenerarIndice" label="Generar índice" icon="pi pi-plus" [model]="menuIndices"
                           styleClass="ui-button-info"></p-splitButton>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2" [formGroup]="formIndice" [ngClass]="{'requerid': fechaInicial }">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
                    <span class="ui-float-label">
                    <p-calendar [(ngModel)]="start_date" [maxDate]="end_date || date" [showIcon]="true"
                                dateFormat="dd/mm/yy" [locale]="es"
                                id="fechaInicial" [icon]="iconCalendar" [required]="true"
                                formControlName="fechaInicial"></p-calendar>
                      <label for="fechaInicial" class="float-calendar"><span
                        class="text-danger">*</span>Fecha Inicial</label>
                    </span>
              </div>
            </div>
          </div>
          <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2" [formGroup]="formIndice" [ngClass]="{'requerid': fechaFinal }">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
                    <span class="ui-float-label">
                    <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" id="fechaFinal" [required]="true"
                                [maxDate]="end_date || date"
                                [locale]="es" [icon]="iconCalendar" [(ngModel)]="end_date" [minDate]="start_date"
                                formControlName="fechaFinal">
                    </p-calendar>
                      <label for="fechaFinal" class="float-calendar"><span
                        class="text-danger">*</span>Fecha Final</label>
                    </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codigoSerie" id="codigoSerie" pInputText type="text" maxlength="20">
                <label>Código serie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSubSerie" id="codSubSerie" pInputText type="text" maxlength="20">
                <label>Código subserie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
                <div class="ui-g form-group">
                  <div class="ui-g-12">
                    <i class="icons fa ui-icon-close icons" pTooltip="Limpiar datos" tooltipPosition="top"
                       (click)="cleanForm()"></i>
                    <i class="icons fa ui-icon-search icons" pTooltip="Consultar" tooltipPosition="top"
                       (click)="findIndices()"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="ui-g-12">
          <div [formGroup]="formIndice" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codigoDependencia" id="codigoDependencia" pInputText type="text" maxlength="20">
                <label>Código dependencia productora</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <p-dropdown [editable]="false" [autoDisplayFirst]="true"
                          [filter]="true" [resetFilterOnHide]="true"
                          [autoWidth]="false" formControlName="estado"
                          id="estado" [options]="estados"></p-dropdown>
                <label [ngClass]="{'ddfilled': formIndice.get('estado').value != null}"
                       for="estado">Estado de Ejecución</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <p-dropdown [editable]="false" [autoDisplayFirst]="true"
                          [filter]="true" [resetFilterOnHide]="true"
                          [autoWidth]="false" formControlName="objectStore"
                          id="objectStore" [options]="objectStore"></p-dropdown>
                <label [ngClass]="{'ddfilled': formIndice.get('objectStore').value != null}" for="objectStore">Object Store</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="idExpediente" id="idExpediente" pInputText type="text" maxlength="100">
                <label>GUID Expediente</label>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g ui-fluid divTable">
        <div class="ui-g-12">
          <p-table [value]="(listadoIndices$ | async)" [paginator]="true" [rows]="5"
                   selectionMode="multiple" [(selection)]="folderSelected" [style]="{width:'100%'}"
                   [responsive]="true" csvSeparator=";" [scrollable]="true">
            <div class="ui-g-12">
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                  <div class="ui-g">
                    <div class="ui-g-10 ui-md-10 text-left" style="line-height: 35px; font-size: 17px">
                      Resultados de Búsqueda:
                    </div>
                    <div class="ui-g-2 ui-md-2 text-right">
                      <p-menu #menu [popup]="true" [model]="loadActionsList()" appendTo="body" styleClass="menuStyle"
                              [style]="{'text-align':'left','width':'10em'}"></p-menu>
                      <i class="iconsMenu fa ui-icon-menu iconsMenu" (click)="menu.toggle($event)"></i>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3rem;text-align: center">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 10rem;text-align: center">ID Indice</th>
                  <th style="width: 4.5rem;text-align: center">Versión</th>
                  <th style="width: 10rem;text-align: center">GUID de Expediente</th>
                  <th style="width: 10rem;text-align: center">Fecha de Registro</th>
                  <th style="width: 10rem;text-align: center">Fecha de Ejecución</th>
                  <th style="width: 10rem;text-align: center">Object Store</th>
                  <th style="width: 10rem;text-align: center">Código Serie</th>
                  <th style="width: 10rem;text-align: center">Código Subserie</th>
                  <th style="width: 10rem;text-align: center">Cód. Depen. Productora</th>
                  <th style="width: 10rem;text-align: center">Origen Ejecución</th>
                  <th style="width: 10rem;text-align: center">Estado</th>
                  <th style="width: 10rem;text-align: center">Usuario</th>
                  <th style="width: 6rem;text-align: center">Acciones</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row>
                <tr [pSelectableRow]="row">
                  <td style="width: 3rem;text-align: center">
                    <div style="position: relative">
                      <div style="position: absolute; width: 100%;height: 100%;z-index: 2"></div>
                      <p-tableCheckbox [value]="row"></p-tableCheckbox>
                    </div>
                  </td>
                  <td style="width: 10rem;text-align: left">{{row.idIndice}}</td>
                  <td style="width: 4.5rem;text-align: left">{{row.version}}</td>
                  <td style="width: 10rem;text-align: left">{{row.idExpediente}}</td>
                  <td style="width: 10rem;text-align: left">{{row.creationDate}}</td>
                  <td style="width: 10rem;text-align: left">{{row.fechaEjecucion}}</td>
                  <td style="width: 10rem;text-align: left">{{row.objectStore}}</td>
                  <td style="width: 10rem;text-align: left">{{row.codSerie}}</td>
                  <td style="width: 10rem;text-align: left">{{row.codSubSerie}}</td>
                  <td style="width: 10rem;text-align: left">{{row.codDependencia}}</td>
                  <td style="width: 10rem;text-align: left">{{row.origenDeEjecucion}}</td>
                  <td style="width: 10rem;text-align: left">{{row.estado}}</td>
                  <td style="width: 10rem;text-align: left">{{row.usuarioExecute}}</td>
                  <td style="width: 6rem;text-align: center">
                    <div style="position: relative">
                      <i class="icons material-icons-outlined icons" pTooltip="Detalles de ejecución"
                         tooltipPosition="top"
                         (click)="showDetailsDialog(row)">info</i>
                      <i class="icons material-icons-outlined icons" pTooltip="Ver" tooltipPosition="top"
                         (click)="showDocumentXml(row)" [ngClass]="{'icon-disabled': row.estado !== 'Exitoso' }">find_in_page</i>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">No se encontraron resultados</td>
                </tr>
              </ng-template>
            </div>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="executionDetails" modal="modal" [responsive]="true"
          (onHide)="hideExecutionDetailsPopup()" [width]="1200" [positionTop]="10">
  <p-header>
    Detalle Ejecución Indice
  </p-header>
  <app-popup-detalle-ejecucion #details (opt)="hideExecutionDetailsPopup()"></app-popup-detalle-ejecucion>
</p-dialog>

<p-dialog [(visible)]="isIndividualVisible" modal="modal" [responsive]="true"
          (onHide)="hideGanerateIndividualIndexPopup()" [width]="650" [positionTop]="10">
  <p-header>
    Generación índice individual
  </p-header>
  <app-popup-generar-indice-individual #ipmValueIndividual></app-popup-generar-indice-individual>
</p-dialog>

<p-dialog [(visible)]="isMasivoVisible" modal="modal" [responsive]="true"
          (onHide)="hideGenerateMassiveIndexPopup()" [width]="900" [positionTop]="10">
  <p-header>
    Generación índice masivo
  </p-header>
  <app-popup-generar-indice-masivo #ipmValueMassive></app-popup-generar-indice-masivo>
</p-dialog>

<p-dialog (onHide)="hideDocumentXML()" [(visible)]="showXML"
          [positionTop]="20" [responsive]="true" [width]="1000" modal="modal">
  <div style="max-height: 400px;overflow-y: auto">
    <!--<p-header *ngIf="document">
      <div class="ui-g ui-fluid">
        <div class="ui-g-6 tittleIndice">
          {{document.nombreDocumento}}
        </div>
        <div class="ui-g-6 text-right">
          <button (click)="hideDocumentXML()" class="ui-button-danger buttonMain" icon="pi pi-times"
                  iconPos="left" label="Cerrar" pButton type="button"></button>
          <button (click)="downloadFile()" class="ui-button-danger buttonXmlViewer" icon="pi pi-download"
                  iconPos="left" label="Descargar" pButton type="button"></button>
        </div>
      </div>
    </p-header>-->
    <div class="ui-fluid" *ngIf="document">
      <p-card class="my-card">
        <div class="page-title">
          <div class="ui-g ui-fluid">
            <div class="ui-g-6 tittleIndice">
              <h3 class="text-left page-title-primary">{{title | guidPipe}}</h3>
              <hr class="hr-sub-title">
            </div>
            <div class="ui-g-6 text-right">
              <button (click)="hideDocumentXML()" class="ui-button-danger buttonMain" icon="pi pi-times"
                      iconPos="left" label="Cerrar" pButton type="button"></button>
              <p-menu #menu [popup]="true" [model]="loadXMLActionsList()" appendTo="body" styleClass="menuStyle"
                      [style]="{'text-align':'left','width':'10em'}"></p-menu>
              <button (click)="menu.toggle($event)" class="ui-button-danger buttonXmlViewer" icon="pi pi-download"
                      iconPos="left" label="Descargar" pButton type="button"></button>
              <button class="ui-button-danger buttonMain"
                      iconPos="left" label="Firmar copia" pButton type="button"></button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <app-xml-viewer #viewXml></app-xml-viewer>
  </div>
</p-dialog>

<a id='dwnldLnk' style="display:none;" target="_blank"></a>
