<!--<p-panel header="Datos Generales" [toggleable]="true" [style]="{'margin-bottom':'20px'}">-->
<form [formGroup]="form">

  <div class="ui-g ui-fluid divSecundary">
    <!--    <div class="card card-w-title">-->
    <div class="ui-g ui-fluid">
      <div class="ui-g ui-g-6 ui-sm-3">

      </div>
      <div class="ui-g ui-g-6 ui-sm-9">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="ui-g ui-fluid" style="margin-top: -20px">
      <!--fechaRadicacion-->
      <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6" style="padding-top: 40px" *ngIf="form.get('fechaRadicacion').value">
        <div class="ui-g form-group">
          <div class="ui-g-12">
            <label style="color: blue">Fecha y Hora de Radicación</label>
          </div>
          <div class="ui-g-12">
            {{form.get('fechaRadicacion').value}}
          </div>
        </div>
      </div>

      <!--nroRadicado-->
      <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6" style="padding-top: 40px" *ngIf="form.get('nroRadicado').value">
        <div class="ui-g form-group">
          <div class="ui-g-12">
            <label style="color: blue">N&deg; Radicado</label>
          </div>
          <div class="ui-g-12">
            {{ form.get('nroRadicado').value | niceNoRadicado}}
          </div>
        </div>
      </div>

      <div class="ui-g ui-g-12" *ngIf="isRadicacionSalida()" style="margin: 20px 0;">
        <div class="ui-sm-12 ui-md-12 ui-g-6 ui-lg-6" *ngIf="showBlockDistribucionDig()">
          <div style="padding: 20px 0 0 2px" >
            <div style="display: contents" [ngClass]="{'requerid': requeridocheckSalida }">
            <p-checkbox name="rd" formControlName="reqDigit" binary="true" label="Requiere digitalización"
                        (onChange)="deleteSoporteHibrido($event)"></p-checkbox>

            <p-checkbox name="rd" formControlName="adjuntarDocumento" binary="true" label="Adjuntar documento"
                        [style]="{'margin-left':'10px'}"></p-checkbox>
            </div>
            <div style="display: inline-flex;margin-left: 2px;margin-top: -5px;position: absolute;"
                 *ngIf="isVisibleCheckAttachDocument">
              <p-selectButton [options]="optionsCheckAttachDocument"
                              formControlName="checkAttachDocument" optionLabel="label" optionValue="value"
                              [disabled]="disabledAttachDocument">
              </p-selectButton>
            </div>
          </div>
          <span class="text-danger" style="margin-left: 21%" *ngIf="requeridocheckSalida">Debe seleccionar uno de estos campos</span>
        </div>
      </div>

      <!--      checks de digitalizacion, adjuntar y distribucion fisica     -->
      <div class="ui-sm-12 ui-g-12 ui-lg-12" *ngIf="isRadicacionEntrada()" style="margin-bottom: 20px;">
        <div class="ui-sm-12 ui-md-12 ui-g-6 ui-lg-6">
          <div style="padding: 20px 0 0 2px">
            <div style="display: contents" [ngClass]="{'requerid': requeridocheck }">
              <p-checkbox name="cg" formControlName="reqDigit" binary="true"
                          label="Requiere digitalización"></p-checkbox>

              <p-checkbox name="cg" formControlName="adjuntarDocumento" binary="true" label="Adjuntar documento"
                          [style]="{'margin-left':'10px'}"></p-checkbox>
            </div>
            <div style="display: inline-flex;margin-left: 2px;margin-top: -5px;position: absolute;"
                 *ngIf="isVisibleCheckAttachDocument">
              <p-selectButton [options]="optionsCheckAttachDocument"
                              formControlName="checkAttachDocument" optionLabel="label" optionValue="value"
                              [disabled]="disabledAttachDocument">
              </p-selectButton>
            </div>
          </div>
          <span class="text-danger" style="margin-left: 21%"
                *ngIf="requeridocheck">Debe seleccionar uno de estos campos</span>
        </div>

        <div class="ui-sm-12 ui-md-12 ui-g-6 ui-lg-6">
          <div style="padding: 20px 0 0 10px">
            <p-checkbox name="cg" label="Requiere distribución física" id="reqDistFisica"
                        formControlName="reqDistFisica" binary="true"
                        (onChange)="changeTipoDistribucion(!$event)"></p-checkbox>
          </div>
        </div>
      </div>

      <!--Tipo Comunicacion-->
      <div class="ui-sm-12 ui-g-12 ui-lg-12">
        <div class="ui-sm-12 ui-g-6 ui-lg-6" *ngIf="!tipoComunicacionSuggestions$">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
            <span class="ui-float-label">
              <p-dropdown [options]="tipoComunicacionSuggestions$ | async | dropdownItemSingle" id="tipoComunicacion"
                          formControlName="tipoComunicacion" [autoDisplayFirst]="false" [autoWidth]="false"
                          [filter]="true"
                          (onBlur)="listenForBlurEvents('tipoComunicacion')">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('tipoComunicacion').value != null}" for="tipoComunicacion"><span
                class="text-danger">*</span>Tipo de comunicación</label>
            </span>
            </div>
          </div>
        </div>

        <!--Medios Recepcion-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4" *ngIf="isRadicacionEntrada()">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
            <span class="ui-float-label">
              <p-dropdown [options]="medioRecepcionSuggestions$ | async | dropdownItemSingle"
                          [ngModel]="mediosRecepcionInput" id="medioRecepcion" formControlName="medioRecepcion"
                          [autoDisplayFirst]="false" [filter]="true" [autoWidth]="false"
                          (onBlur)="listenForBlurEvents('medioRecepcion')">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('medioRecepcion').value != null}" for="medioRecepcion"><span
                class="text-danger">*</span>Canal de recepción</label>
            </span>
            </div>
          </div>
        </div>


        <!--Empresa de mensajeria-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4" [hidden]="!visibility.empresaMensajeria">
          <div class="ui-g form-group" style="padding-top: 10px">
            <div class="ui-g-12 divInput">
            <span class="ui-float-label">
              <p-dropdown [options]="opcionesCurrier" [autoDisplayFirst]="false" [filter]="true"
                          [dynamicDisable]="!visibility.empresaMensajeria" formControlName="empresaMensajeria"
                          [autoWidth]="false"
                          (onBlur)="listenForBlurEvents('empresaMensajeria')">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('empresaMensajeria').value != null}"><span
                class="text-danger">*</span>Empresa de mensajería</label>
            </span>
            </div>
          </div>
        </div>

        <!--Numero Guia-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4" [hidden]="!visibility.empresaMensajeria">
          <div class="ui-g form-group" style="padding-top: 10px">
            <div class="ui-g-12 divInput">
            <span class="md-inputfield">
              <input type="text" pInputText id="numeroGuia" formControlName="numeroGuia"
                     [dynamicDisable]="!visibility.numeroGuia" (blur)="listenForBlurEvents('numeroGuia')">
              <label for="numeroGuia"><span class="text-danger">*</span>Número guía</label>
            </span>
            </div>
          </div>
        </div>
      </div>

      <!--Tipologia Documental-->
      <div class="ui-sm-12 ui-g-4 ui-lg-4">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput" [ngClass]="{'requerid': requeridotipologiaDocumental }">
            <span class="ui-float-label">
              <p-dropdown [options]="tipologiaDocumentalSuggestions$ | async | dropdownItemSingle"
                          id="tipologiaDocumental" formControlName="tipologiaDocumental" [autoDisplayFirst]="false"
                          [filter]="true" [autoWidth]="false" (onBlur)="listenForBlurEvents('tipologiaDocumental')"
                          (onChange)="onChangeTipologiaDocumental($event)">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('tipologiaDocumental').value != null}"
                     for="tipologiaDocumental"><span class="text-danger">*</span>Tipo documento </label>
            </span>
          </div>
        </div>
      </div>

      <!--Tiempo Respuesta-->
      <div class="ui-sm-12 ui-g-4 ui-lg-4" *ngIf="isRadicacionEntrada()" style="padding-top: 0px;">
        <div class="ui-sm-12 ui-g-6 ui-lg-6">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
                <input *ngIf="visibleUnidadTiempoRespuesta" formControlName="tiempoRespuesta" type="text" pInputText
                       pKeyFilter="int"/>
                <input *ngIf="!visibleUnidadTiempoRespuesta" formControlName="tiempoRespuesta" type="text" pInputText
                       pKeyFilter="int" disabled="true"/>
                <label><span class="text-danger">*</span>Tiempo de respuesta</label>
              </span>
            </div>
          </div>
        </div>

        <!--Unidad de Tiempo-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
                <p-dropdown [options]="unidadTiempoSuggestions$ | async | dropdownItemSingle" id="unidadTiempo"
                            formControlName="unidadTiempo" [autoDisplayFirst]="false" [autoWidth]="false"
                            [filter]="true"
                            [disabled]="!visibleUnidadTiempoRespuesta">
                </p-dropdown>
                <label [ngClass]="{'ddfilled': form.get('unidadTiempo').value != null}" for="unidadTiempo">Unidad de tiempo</label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g ui-g-12" *ngIf="isRadicacionSalida()"></div>


      <!--Numero Folio-->
      <div class="ui-sm-12 ui-g-4 ui-lg-4"
           *ngIf="isRadicarDocProducido() || isRadicacionEntrada() || isRadicacionSalida()">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput" [ngClass]="{'requerid': requeridonumeroFolio }">
            <span class="ui-float-label">
              <p-spinner size="30" id="numeroFolio" formControlName="numeroFolio" [(ngModel)]="nFolios"
                         (OnBlur)="listenForBlurEvents('numeroFolio')" [min]="1"></p-spinner>
              <label [ngClass]="{'ddfilled': form.get('numeroFolio').value != null}"><span class="text-danger">*</span>N&deg;. de folios</label>
            </span>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-lg-12" *ngIf="isRadicacionEntrada()  || isRadicacionInterna()"
           [ngClass]="{'requerid': requeridoasunto }">
        <div class="ui-g form-group">
          <div class="ui-g-12 divInput">
            <span class="ui-float-label">
              <textarea pInputText rows="3" formControlName="asunto"
                        pTooltip="Registre el resumen del contenido del documento"
                        (blur)="listenForBlurEvents('asunto')"></textarea>
              <label class="float-textarea"><span class="text-danger"
                                                  *ngIf="isRadicacionEntrada() || isRadicacionInterna() || isDerechoPeticio">*</span>Asunto</label>
            </span>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-12" *ngIf="isRadicacionSalida() || isRadicarDocProducido()"
           [ngClass]="{'requerid': requeridoasunto }">

        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
            <textarea pInputText rows="3" formControlName="asunto"
                      pTooltip="Registre el resumen del contenido del documento"
                      (blur)="listenForBlurEvents('asunto')"></textarea>
            <label class="float-textarea"><span class="text-danger"
                                                *ngIf="isRadicacionSalida() || isDerechoPeticio">*</span>Asunto</label>
          </span>
        </div>

      </div>


    </div>

    <!--    </div>-->

    <!--    descripcion Anexos-->

    <p-card header="Descripción anexos" class="my-card" [style]="{border: 'none', marginTop: '0px'}">
      <div class="ui-fluid ui-g">
        <div class="ui-g ui-g-6" *ngIf="isRadicacionEntrada()  && descripcionAnexos.length"
             style="margin-top: 2.667em;">
          <p-checkbox formControlName="detallarDescripcion" binary="true" label="Detallar Descripción"></p-checkbox>
        </div>
        <!--   cantidad de Anexos   -->
        <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6" *ngIf="descripcionAnexos.length">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <label>Cantidad de Anexos</label>
              <span class="ui-float-label">
              <input type="text" pInputText id="cantidadAnexos" readonly [value]="descripcionAnexos?.length">
            </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showBlockDistribucionDig()">
        <div class="ui-sm-12 ui-g-6 ui-lg-6">


          <div class="ui-g-12">
            <span class="ui-float-label" style="top: 15px;">
              <p-dropdown [options]="tipoAnexosSuggestions$ | async | dropdownItem" id="tipoAnexos"
                          [autoDisplayFirst]="false" formControlName="tipoAnexos" [filter]="true" [autoWidth]="false">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('tipoAnexos').value != null}" for="tipoAnexos">Tipo anexos</label>
            </span>
          </div>

        </div>

        <div class="ui-sm-12 ui-g-6 ui-lg-6">

          <div class="ui-g-12">
            <span class="ui-float-label" style="top: 15px;">
              <p-dropdown [options]="soporteAnexosSuggestions$ | async | dropdownItem" id="soporteAnexos"
                          [autoDisplayFirst]="false" formControlName="soporteAnexos" [filter]="true"
                          [autoWidth]="false">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('soporteAnexos').value != null}" for="tipoAnexos">Soporte</label>
            </span>
          </div>

        </div>
        <div class="ui-g-12">
        </div>
        <div class="ui-sm-12 ui-g-12 ui-g-12">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput">
            <span class="ui-float-label">
              <textarea rows="3" pInputText id="descripcionAnexos"
                        pTooltip="Registre la información relevante sobre el     anexo"
                        formControlName="tipoAnexosDescripcion" (blur)="listenForBlurEvents('tipoAnexosDescripcion')">
                 </textarea>
              <label for="descripcionAnexos" class="float-textarea">Descripción</label>
            </span>
          </div>

          <span style="float: right; margin-top: 10px;">
            <button pButton type="button" label="Agregar" (click)="addTipoAnexosDescripcion()" class="buttonMain"
                    icon="pi pi-plus" iconPos="left" style="margin: 5px 0 0 0"
                    [disabled]="!form.get('tipoAnexos').value || !form.get('soporteAnexos').value"></button>
          </span>

        </div>

      </div>

      <div class="ui-g-12 divTable">
        <p-dataTable selectionMode="single" [paginator]="true" [rows]="10" [responsive]="true"
                     [value]="descripcionAnexos" inmutable="false" emptyMessage="No se encontraron resultados"
                     [scrollable]="true">
          <p-header>
            <div class="ui-helper-clearfix">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-10 headerTable">
                  Listado de anexos
                </div>
              </div>
            </div>
          </p-header>

          <!--Body-->
          <p-column field="tipoAnexo.nombre" header="Tipo anexos" [sortable]="true" [style]="{'width':'120px'}">
          </p-column>
          <p-column field="soporteAnexo.nombre" header="Soporte anexos" [sortable]="true" [style]="{'width':'120px'}">
          </p-column>
          <p-column field="descripcion" header="Descripción" [sortable]="true" [style]="{'width':'120px'}"></p-column>
          <p-column header="Acciones" [style]="{'width':'120px','text-align':'center'}"
                    *ngIf="showBlockDistribucionDig()">
            <ng-template let-tipoades="rowData" let-i="rowIndex" pTemplate="item">
              <i (click)="deleteTipoAnexoDescripcion(i)" class="fa ui-icon-delete icons" tooltipPosition="top"
                 pTooltip="Eliminar">
              </i>
            </ng-template>
          </p-column>
          <!--End Body-->
        </p-dataTable>
        <!--<div class="ui-g-12 md-inputfield">
          <div class="ui-message ui-messages-error"
               *ngIf="descripcionAnexos.length === 0 &&
               (form.get('tipoAnexos').touched || form.get('tipoAnexosDescripcion').touched)">
            Listado requerido
          </div>
        </div>-->
      </div>
    </p-card>

    <div class="ui-g ui-fluid" style="margin-top: 20px">

      <!-- Radicados Referidos -->
      <ng-template [ngIf]="isRadicacionEntrada()" [ngIfElse]="radWSalida">
        <div class="ui-g-12" *ngIf="editable === true || editmode === true" style="margin-top: 8px">

          <div class="ui-g form-group" style="display: flex;">
            <span class="ui-float-label" style="flex-grow: 1; margin-top: 8px">
              <input type="text" pInputText id="radicadoReferido" formControlName="radicadoReferido" maxlength="500"
                     pTooltip="Ingrese el N° radicado relacionado con el documento"
                     (blur)="listenForBlurEvents('radicadoReferido')">
              <label>Radicados Referidos</label>
            </span>
          </div>
          <div class="ui-g-12">
            <span style="float: right">
              <button pButton type="button" label="Agregar" class="buttonMain" icon="pi pi-plus" iconPos="left"
                      style="margin: 20px 0 0;" (click)="addRadicadosReferidos()"
                      *ngIf="editable === true || editmode === true" [disabled]="!form.get('radicadoReferido').value">
              </button>
            </span>
          </div>
        </div>

      </ng-template>

      <ng-template #radWSalida>
        <div class="ui-g-12" *ngIf="editable === true || editmode === true" style="margin-top: 8px">

          <div class="ui-g form-group" style="display: flex">
            <span class="ui-float-label" style="flex-grow: 1; margin-top: 8px">
              <input type="text" pInputText id="rs-radicadoReferido" formControlName="radicadoReferido" maxlength="500"
                     pTooltip="Ingrese el N° radicado relacionado con el documento"
                     (blur)="listenForBlurEvents('radicadoReferido')">
              <label>Radicados Referidos</label>
            </span>
          </div>
          <div class="ui-g-12">
            <span style="float: right; margin: 20px 0 0;">
              <button pButton type="button" label="Agregar" class="buttonMain" icon="pi pi-plus" iconPos="left"
                      style="margin: 0"
                      (click)="addRadicadosReferidos()" *ngIf="editable === true || editmode === true"
                      [disabled]="!form.get('radicadoReferido').value">

              </button>
            </span>
          </div>
        </div>
      </ng-template>

      <div class="ui-g-12 ui-lg-12" style="padding-top: 20px">

        <p-dataTable selectionMode="single" [paginator]="true" [rows]="10" [scrollable]="true" [responsive]="true"
                     [value]="radicadosReferidos" emptyMessage="No se encontraron resultados">
          <!--Header-->
          <p-header>
            <div class="ui-helper-clearfix">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-10 headerTable">
                  Radicados referidos
                </div>
              </div>
            </div>
          </p-header>
          <!--End Header-->

          <!--Body-->
          <p-column header="Nombre" [style]="{'width':'120px'}">
            <ng-template let-radref="rowData" pTemplate="item">
              {{radref.nombre | niceNoRadicado:true}}
            </ng-template>
          </p-column>
          <p-column header="Acciones" [style]="{'width':'120px','text-align':'center'}">
            <ng-template let-radref="rowData" let-i="rowIndex" pTemplate="item">
              <i pTooltip="Eliminar" (click)="deleteRadicadoReferido(i)" class="fa ui-icon-delete icons"
                 tooltipPosition="top" *ngIf="!radref.blocked"></i>
            </ng-template>
          </p-column>
          <!--End Body-->
        </p-dataTable>
      </div>

    </div>

  </div>

</form>
<!--</p-panel>-->
