<form [formGroup]="form" name="formDefault">
  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
              <p-dropdown [options]="sections$ | async | dropdownItem"
                          id="section" [filter]="true"
                          formControlName="section"
                          [autoDisplayFirst]="false"
                          [autoWidth]="false" appendTo="body"
                          (onBlur)="listenForBlurEvents('section')">
              </p-dropdown>
              <label for="section"><span class="text-danger">*</span>Dependencia Jerárquica</label>
              </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
              <p-dropdown [options]="subsections |  dropdownItem"
                          id="subsection" appendTo="body"
                          [filter]="true"
                          formControlName="subsection"
                          [autoDisplayFirst]="false"
                          [autoWidth]="false"
                          (onChange)="sectionChange($event)"
                          (onBlur)="listenForBlurEvents('subsection')">
              </p-dropdown>
                <label for="subsection"><span class="text-danger">*</span>Dependencia Productora</label>
              </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
              <p-dropdown [options]="users$ | async | dropdownItemFuncFullName"
                          id="user" appendTo="body"
                          [filter]="true"
                          formControlName="user"
                          [autoDisplayFirst]="false"
                          [autoWidth]="false">
              </p-dropdown>
                <label for="user"><span class="text-danger">*</span>Funcionario Solicitante Anulación</label>
              </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
           <span class="ui-float-label">
             <textarea maxlength="500" pInputText [rows]="3" id="observations" formControlName="observations"></textarea>
            <label for="observations" class="float-textarea"><span class="text-danger">*</span>Observaciones</label>
           </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <button pButton type="button" class="ui-button-primary buttonMain" icon="pi pi-check" iconPos="left"
                  label="Anular" [disabled]="form.invalid"
                  style="width:auto;margin-left:5px;margin-top:20px;float:right;margin-right: 0px;" (click)="deleteTracks()">
          </button>
          <button pButton type="button" class="ui-button-primary buttonSecundary"
                  style="width:auto;margin-left:5px;margin-top:20px;float:right;" icon="pi pi-times" iconPos="left"
                  label="Cerrar" (click)="complete()"></button>
        </div>
      </div>
    </div>
  </div>
</form>
