<div class="ui-fluid">
  <p-card class="my-card">
    <div class="ui-g">
      <div class="ui-sm-12 ui-g-6">
        <div class="ui-g-12">
          <h2 class="text-left page-title-primary">Datos para el envío del proceso</h2>
          <hr class="hr-sub-title">
        </div>
      </div>
      <div class="ui-sm-12 ui-g-6 text-right">
        <button class="buttonMain" icon="pi pi-save" iconPos="left" label="Generar"
                pButton type="button" (click)="generateIndex()" [disabled]="formGenerate.invalid">
        </button>
      </div>
    </div>
  </p-card>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12 text-right">
            <fa-icon class="iconsGrayFA" [icon]="faTachometerAlt"></fa-icon>
            <label>IPM: {{ipm}}</label>
          </div>
          <div [formGroup]="formGenerate" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" [ngClass]="{'requerid': codSerie }">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSerie" id="codSerie" pInputText type="text" maxlength="20">
                <label><span class="text-danger">*</span>Código serie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div class="ui-sm-1 ui-g-1 ui-lg-1 ui-md-1"></div>
          <div [formGroup]="formGenerate" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSubSerie" id="codSubSerie" pInputText type="text" maxlength="20">
                <label>Código subserie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div class="ui-sm-1 ui-g-1 ui-lg-1 ui-md-1"></div>
          <div [formGroup]="formGenerate" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codDependencia" id="codDependencia" pInputText type="text" maxlength="20">
                <label>Código dependencia productora</label>
              </span>
              </div>
            </div>
          </div>
          <div class="ui-sm-1 ui-g-1 ui-lg-1 ui-md-1">
            <div class="ui-g form-group">
              <div class="ui-g-2">
              </div>
              <div class="ui-g-12">
                <i class="icons fa ui-icon-close icons" pTooltip="Limpiar datos" tooltipPosition="top"
                   (click)="cleanForm()"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-sm-12 ui-g-12">
          <div class="ui-sm-12 ui-g-12 text-left">
            <label><span class="text-danger">*</span>Fecha creación carpetas</label>
          </div>
        </div>
        <div class="ui-sm-12 ui-g-12">
          <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3 text-left" [formGroup]="formGenerate">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
                    <span class="ui-float-label">
                    <p-calendar [(ngModel)]="start_date" [maxDate]="end_date || date" [showIcon]="true"
                                dateFormat="dd/mm/yy" [locale]="es" appendTo="body"
                                id="startDate" [icon]="iconCalendar" [required]="true"
                                formControlName="startDate"></p-calendar>
                      <label for="startDate" class="float-calendar"><span
                        class="text-danger">*</span>Fecha Inicial</label>
                    </span>
              </div>
            </div>
          </div>
          <div class="ui-sm-1 ui-g-1 ui-lg-1 ui-md-1"></div>
          <div class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3 text-left" [formGroup]="formGenerate">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
                    <span class="ui-float-label">
                    <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" id="endDate" [required]="true"
                                [maxDate]="end_date || date" appendTo="body"
                                [locale]="es" [icon]="iconCalendar" [(ngModel)]="end_date" [minDate]="start_date"
                                formControlName="endDate">
                    </p-calendar>
                      <label for="endDate" class="float-calendar"><span
                        class="text-danger">*</span>Fecha Final</label>
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



