<p-card class="my-card">
  <div class="page-title">
    <div class="ui-g" style="display: block">
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div class="ui-g-12">
          <h2 class="text-left page-title-primary" *ngIf="!tituloName">{{ processName }}</h2>
          <h2 class="text-left page-title-primary" *ngIf="tituloName">{{ tituloName }}</h2>
          <hr class="hr-sub-title">
          <ng-content select="[subtitleTask]">
          </ng-content>
        </div>
      </div>
      <!--      <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">-->
      <!--        <h3 class="text-left page-subtitle">{{ taskName }}</h3>-->
      <!--      </div>-->
      <div class="ui-sm-12 ui-md-8 ui-g-8 ui-lg-8">
        <div class="page-buttons text-right" *ngIf="!forceHiddenButtons">
          <ng-content select="[customActions]">

          </ng-content>

          <button pButton type="button" label="Finalizar"
                  (click)="navigateBack()" class="buttonMain" icon="pi pi-check" iconPos="left"
                  *ngIf="!isActive && !hasToContinue && !hideDefaultButton && !ocultar"></button>
          <button pButton type="button" label="Continuar"
                  class="buttonMain" (click)="navigateToNextTask()" icon="pi pi-angle-double-right" iconPos="left"
                  *ngIf="!isActive && hasToContinue  && !hideDefaultButton"></button>
        </div>
      </div>
    </div>
  </div>
</p-card>

<ng-content select="[taskBody]">

</ng-content>

<!--<div style="padding: 11px;">-->
<!--  <p-card>-->
<!--    <div class="ui-g">-->

<!--      &lt;!&ndash;    <div class="ui-g-12">&ndash;&gt;-->
<!--      &lt;!&ndash;      <h2 class="text-left page-title">{{ processName }}</h2>&ndash;&gt;-->
<!--      &lt;!&ndash;    </div>&ndash;&gt;-->
<!--      <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">-->
<!--        &lt;!&ndash;      <h3 class="text-left page-subtitle">{{ taskName }}</h3>&ndash;&gt;-->
<!--        <h2 class="text-left page-title" style="margin: 11px;">{{ processName }}</h2>-->
<!--      </div>-->
<!--      <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">-->
<!--        <div class="page-buttons text-right" *ngIf="!forceHiddenButtons">-->
<!--          <ng-content select="[customActions]">-->

<!--          </ng-content>-->

<!--          <button pButton type="button" class="ui-button-success" label="Finalizar"-->
<!--                  style="width: auto;  margin-bottom: 10px; margin-left: 5px; margin-right: 5px;"-->
<!--                  (click)="navigateBack()"-->
<!--                  *ngIf="!isActive && !hasToContinue && !hideDefaultButton && !ocultar"></button>-->
<!--          <button pButton type="button" class="ui-button-success" label="Continuar"-->
<!--                  style="width: auto;  margin-bottom: 10px; margin-left: 5px;" (click)="navigateToNextTask()"-->
<!--                  *ngIf="!isActive && hasToContinue  && !hideDefaultButton"></button>-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="ui-g-12">-->
<!--        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>-->
<!--      </div>-->
<!--    </div>-->
<!--  </p-card>-->
<!--</div>-->

<!--<div style="padding: 10px;">-->
<!--  <ng-content select="[taskBody]">-->

<!--  </ng-content>-->
<!--</div>-->
