<div class="ui-fluid">
  <p-card class="my-card">
    <div class="page-title">
      <div class="ui-g">
        <div class="ui-sm-12 ui-g-6">
          <div class="ui-g-12">
            <h2 class="text-left page-title-primary">Administración índice electrónico</h2>
            <hr class="hr-sub-title">
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-panel header="Parametrización horario" class="my-panel" [toggleable]="true"
               [style]="{ border: 'none' }">
        <div class="ui-g">
          <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" style="min-width: 900px;">
            <strong class="page-title subtitulo">Ejecución índices (operación diaria)</strong
            >
          </div>
          <div class="ui-sm-12 ui-md-8 ui-g-8 ui-lg-8">
          </div>
          <div></div>
          <div
            class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4"
            style="text-align: center; margin-top: -21px;"
          >
            <i
              class="pi pi-pencil iconos"
              style="font-size: 2.5em; margin-right: 10px; margin-left: 40px; cursor: pointer; color: #5180CE"
              (click)="showParametrizarHorario()"
            ></i>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" style="min-width: 900px;">
            <strong class="page-title subtitulo">Ejecución índices por demanda</strong
            >
          </div>
          <div class="ui-sm-12 ui-md-8 ui-g-8 ui-lg-8">
          </div>
          <div></div>
          <div
            class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4"
            style="text-align: center; margin-top: -21px;"
          >
            <i
              class="pi pi-pencil iconos"
              style="font-size: 2.5em; margin-right: 10px; margin-left: 40px; cursor: pointer; color: #5180CE"
              (click)="showParametrizarHorarioDemanda()"
            ></i>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-panel header="Excepciones" class="my-panel" [toggleable]="true"
               [style]="{ border: 'none' }">
        <div class="ui-g">
          <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" style="min-width: 900px;">
            <strong class="page-title subtitulo">Parametrizar excepción por series/subseries</strong
            >
          </div>
          <div class="ui-sm-12 ui-md-8 ui-g-8 ui-lg-8">
          </div>
          <div></div>
          <div
            class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4"
            style="text-align: center; margin-top: -21px;"
          >
            <i
              class="pi pi-pencil iconos"
              style="font-size: 2.5em; margin-right: 10px; margin-left: 40px; cursor: pointer; color: #5180CE"
              (click)="showParametrizarExcepcion()"
            ></i>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-panel header="Cierre automático" class="my-panel" [toggleable]="true"
               [style]="{ border: 'none' }">
        <div class="ui-g">
          <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" style="min-width: 900px;">
            <strong class="page-title subtitulo">Parametrización cierre automático series/subseries
              documentales</strong>
          </div>
          <div class="ui-sm-12 ui-md-8 ui-g-8 ui-lg-8">
          </div>
          <div></div>
          <div
            class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4"
            style="text-align: center; margin-top: -21px;">
            <i
              class="pi pi-pencil iconos"
              style="font-size: 2.5em; margin-right: 10px; margin-left: 40px; cursor: pointer; color: #5180CE"
              (click)="showDialogCierreAuto()"
            ></i>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>
<p-dialog [(visible)]="isParametrizarHorario" modal="modal" [responsive]="true"
          (onHide)="hideParametrizarHorario()" [width]="600" [positionTop]="10">
  <p-header>
    Parametrización horario
  </p-header>
  <app-popup-parametrizar-horario #dailyExecution
  ></app-popup-parametrizar-horario>
</p-dialog>

<p-dialog [(visible)]="isParametrizarHorarioDemanda" modal="modal" [responsive]="true"
          (onHide)="hideParametrizarHorarioDemanda()" [width]="600" [positionTop]="10">
  <p-header>
    Parametrización horario
  </p-header>
  <app-popup-parametrizar-horario-demanda #demandExecution
  ></app-popup-parametrizar-horario-demanda>
</p-dialog>

<p-dialog [(visible)]="parametrizarExcepcion" modal="modal" [responsive]="true"
          (onHide)="hideParametrizarExcepcion()" [width]="1200" [positionTop]="10">
  <app-popup-parametrizar-excepcion #exceptions></app-popup-parametrizar-excepcion>
</p-dialog>


<p-dialog [(visible)]="visibleDialogCierreAuto" modal="modal" [responsive]="true"
          (onHide)="hideParametrizarExcepcion()" [width]="1200" [positionTop]="10">
  <app-parametrizar-cierre-auto #configurations></app-parametrizar-cierre-auto>
</p-dialog>
