<div class="ui-g ui-fluid">
  <div class="ui-g-12" [style.padding-top]="'30px'">
    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
      <p-fileUpload #uploader
                    chooseLabel="Adjuntar"
                    uploadLabel="Cargar"
                    cancelLabel="Cancelar"
                    [multiple]="false"
                    customUpload="true"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                    (uploadHandler)="uploadDocuments($event, uploader)"
                    name="file[]"
                    maxFileSize="52428800"
                    invalidFileSizeMessageSummary="El documento que desea adjuntar supera el tamaño permitido"
                    invalidFileTypeMessageSummary="El documento que desea adjuntar no comparte el formato permitido"
                    invalidFileTypeMessageDetail="nombreDocumento.xlsx">
      </p-fileUpload>
    </div>
  </div>
</div>

<div class="ui-g ui-fluid">
  <div class="ui-g-12" [style.padding-top]="'20px'">
    <p-dataTable emptyMessage="No se encontraron resultados" [(first)]="first"
                 [paginator]="true" [rows]="10" [responsive]="true" [value]="listaResultadoCarga">
      <p-header>
        <div class="ui-helper-clearfix ui-fluid">
          <div class="ui-g-12">
            <div class="ui-sm-12 ui-g-4 ui-lg-4" style="line-height: 35px;">
              Resultados de cargue
            </div>
            <div class="ui-sm-12 ui-g-4 ui-lg-4">
              <div class="textCenterTable">
                Se cargaron {{itemsUploaded}} registros exitosos
              </div>
            </div>
            <div class="ui-sm-12 ui-g-4 ui-lg-4" style="text-align:right; padding-top: 5px;">
              <button pButton type="button" icon="pi pi-download" iconPos="left" label="Reporte"
                      [disabled]="listaResultadoCarga.length == 0"
                      (click)="downloadReport()" class="buttonHeaderTable">
              </button>
            </div>
          </div>
        </div>
      </p-header>
      <p-column field="deliveryFormDTO.trackId" header="N&deg;. radicado" [sortable]="true"
                [style]="{'width':'50px','text-align':'center'}">
        <ng-template pTemplate="item" let-data="rowData">
          {{ data.deliveryFormDTO.trackId | niceNoRadicado }}
        </ng-template>
      </p-column>
      <p-column field="deliveryFormDTO.massiveDate" header="Fecha" [style]="{'width':'50px','text-align':'center'}">
        <ng-template let-col let-data="rowData" pTemplate="body">
          {{data.massiveDate | date:'dd/MM/yyyy'}}
        </ng-template>
      </p-column>
      <p-column field="status" header="Resultado de carga" [style]="{'width':'50px','text-align':'center'}">
        <ng-template let-col let-data="rowData" pTemplate="body">
          <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
            <div class="ui-g-12">
              <span class="table-text-custom-secundary">
              {{data.status}} &nbsp;
              </span>
              <i class="fa ui-icon-info icons" pTooltip="Información" (click)="viewInfo(data)"
                 tooltipPosition="top"></i>
            </div>
          </div>
        </ng-template>
      </p-column>
      <p-column field="statusDescription" header="Descripción" [style]="{'width':'130px'}">
      </p-column>
    </p-dataTable>
  </div>
</div>

<p-dialog header="Datos información cargada" [(visible)]="infoUploadedVisible" modal="true" [responsive]="true"
          positionTop="30%" (onHide)="hideInfoUploaded()" [width]="1000">
  <div class="divContentDialog">
    <p-dataTable emptyMessage="No se encontraron resultados" [(first)]="first" [scrollable]="true"
                 [paginator]="true" [rows]="10" [responsive]="true" [value]="listInfoUploaded">
      <p-column field="deliveryFormDTO.trackId" header="N&deg;. radicado" [sortable]="true" [style]="{'width':'100px'}">
        <ng-template pTemplate="item" let-data="rowData">
          {{ data.deliveryFormDTO.trackId | niceNoRadicado }}
        </ng-template>
      </p-column>
      <p-column field="deliveryFormDTO.shipmentNumber" header="N&deg;. guía" [sortable]="true"
                [style]="{'width':'125px'}">
      </p-column>
      <p-column field="deliveryFormDTO.weight" header="Peso" [style]="{'width':'100px'}">
      </p-column>
      <p-column field="deliveryFormDTO.shippingValue" header="Valor" [style]="{'width':'100px'}">
        <ng-template let-col let-data="rowData" pTemplate="body">
          {{data.deliveryFormDTO.shippingValue | currency}}
        </ng-template>
      </p-column>
      <p-column field="deliveryFormDTO.deliveryStatus" header="Estado de entrega" [sortable]="true"
                [style]="{'width':'100px'}">
        <ng-template pTemplate="item" let-data="rowData">
          {{findDeliveryStatus(data.deliveryFormDTO.deliveryStatus)}}
        </ng-template>
      </p-column>
      <p-column header="Fecha" [style]="{'width':'110px'}">
        <ng-template let-col let-data="rowData" pTemplate="body">
          {{data.deliveryFormDTO.deliveryDate | date:'dd/MM/yyyy'}}
        </ng-template>
      </p-column>
      <p-column header="Motivo de devolución" [style]="{'width':'100px'}">
        <ng-template let-col let-data="rowData" pTemplate="body">
          {{findDevolution(data.deliveryFormDTO.devolutionCode)}}
        </ng-template>
      </p-column>
      <p-column field="deliveryFormDTO.observations" header="Observaciones"
                [style]="{'width':'110px'}">
      </p-column>
      <p-column field="status" header="Resultado de carga" [style]="{'width':'85px'}">
      </p-column>
    </p-dataTable>
  </div>
</p-dialog>

<a id='dwnldLnk' style="display:none;" target="_blank"></a>
