<p-fileUpload id="doc-digitalize" #uploader
    mode="advanced"
    chooseLabel="Buscar"
    uploadLabel="Guardar"
    cancelLabel="Cancelar"
    multiple="true"
    accept="application/pdf"
    maxFileSize="52428800"
    customUpload="true"
    invalidFileSizeMessageSummary="El documento que desea adjuntar supera el tamaño permitido"
    invalidFileSizeMessageDetail=""
    [disabled]="uploadDisabled"
    [showUploadButton]="!uploadDisabled"
    [showCancelButton]="!uploadDisabled"
    (uploadHandler)="customUploader($event)"
    (onUpload)="onUpload($event)"
    (onClear)="onClear($event)"
    (onSelect)="onSelect($event)"
    [styleClass]="uploadDisabled?'uploaderDisabled':''"
>

  <ng-template pTemplate="content" #parent>
  <app-pdf-viewer #viewer [pdfSrc]="url" *ngIf="status >= 1 && previewWasRefreshed"
    [containerStyle]="{'min-height':'400px'}"
  ></app-pdf-viewer>
  </ng-template>

  <ng-template let-file pTemplate="file" class="ui-fluid">
    <div class="ui-g ui-fileupload-row">
    <div class="ui-lg-3 ui-sm-3 ui-xl-3">{{ file.name }}</div>
    <div class="ui-lg-2 ui-sm-2 ui-xl-2">{{ file.size }} KB</div>
    <div class="ui-lg-2 ui-sm-2 ui-xl-2">{{ file.type }}</div>
    <div class="ui-lg-2 ui-sm-2 ui-xl-2">{{ file.lastModifiedDate | date:'dd/MM/yyyy' }}</div>
    <div class="ui-lg-1 ui-sm-1 ui-xl-1">
      <button alt="Visualizar Contenido" icon="ui-icon-remove-red-eye" pButton type="button"
        class="ui-button ui-button-icon-only orange-btn" (click)="preview(file)"></button>
    </div>
    </div>
  </ng-template>
</p-fileUpload>
