<!--<p-panel header="Datos Remitente" [style]="{ border: 'none'}">-->
<!--  <p-panel header="Datos Remitente" [toggleable]="true" [style]="{'margin-bottom':'20px'}">-->

<form [formGroup]="form" name="formDefault">
  <div class="ui-fluid">
    <div class="ui-g ui-fluid" [hidden]="!visibility.sedeAdministrativa">
      <div class="ui-sm-12 ui-g-6 ui-lg-6">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="sedeAdministrativaSuggestions$ | async | dropdownItem"
                          id="sedeAdministrativa"
                          formControlName="sedeAdministrativa"
                          [autoDisplayFirst]="false"
                          [filter]="true"
                          [autoWidth]="false"
                          [dynamicDisable]="!visibility.sedeAdministrativa"
                          (onBlur)="listenForBlurEvents('sedeAdministrativa')">
              </p-dropdown>
                            <label [ngClass]="{'ddfilled': form.get('sedeAdministrativa').value != null}" for="sedeAdministrativa"><span class="text-danger">*</span>Sede</label>
              </span>
          </div>
        </div>
      </div>

      <div class="ui-sm-12 ui-g-6 ui-lg-6">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="dependenciasGrupoList | dropdownItem"
                          id="dependenciaGrupo"
                          formControlName="dependenciaGrupo"
                          placeholder="Seleccione"
                          [filter]="true"
                          [autoWidth]="false"
                          [dynamicDisable]="!visibility.dependenciaGrupo"
                          (onBlur)="listenForBlurEvents('dependenciaGrupo')"
              >
              </p-dropdown>
                            <label [ngClass]="{'ddfilled': form.get('dependenciaGrupo').value != null}" for="dependenciaGrupo"><span class="text-danger">*</span>Dependencia / Grupo</label>
              </span>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid">

      <!--Tipo Persona-->
      <div class="ui-sm-12 ui-g-6 ui-lg-6">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput md-dropdownfield" [ngClass]="{'requerid': tipoPersona }">
              <span class="ui-float-label">
              <p-dropdown [options]="tipoPersonaSuggestions$ | async | dropdownItemSingle"
                          id="tipoPersona"
                          [filter]="true"
                          formControlName="tipoPersona"
                          [autoDisplayFirst]="false"
                          [autoWidth]="false"
                          (onBlur)="listenForBlurEvents('tipoPersona')"
                          (onChange)="changeTipoPersona(false)"
              >
              </p-dropdown>
                            <label for="tipoPersona" [ngClass]="{'ddfilled': form.get('tipoPersona').value != null}"><span class="text-danger">*</span>Tipo de persona</label>
              </span>
          </div>
        </div>
      </div>

      <!--Tipo Documento-->
      <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.tipoDocumento" [formGroup]="form">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput ">
              <span class="ui-float-label">
              <p-dropdown [options]="subscriptionTipoDocumentoPersona | dropdownItemSingle"
                          id="tipoDocumento" [ngModel]="form.get('tipoDocumento').value"
                          formControlName="tipoDocumento" appendTo="body"
                          [autoDisplayFirst]="false"
                          [filter]="true"
                          [autoWidth]="false" (onBlur)="listenForBlurEvents('tipoDocumento')"
                          [dynamicDisable]="!visibility.tipoDocumento"></p-dropdown>
                  <label [ngClass]="{'ddfilled': form.get('tipoDocumento').value != null}" for="tipoDocumento"><span
                  class="text-danger">*</span>Tipo documento Identificaci&oacute;n</label>
              </span>
          </div>
        </div>
      </div>

      <!--Razon Social-->
      <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.razonSocial">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput" [ngClass]="{'requerid': requeridoPerJ }">
                <span class="ui-float-label">
                  <p-autoComplete [suggestions]="personsSuggestions$ | async" (completeMethod)="onFilterRazonSocial($event)"
                                  [size]="30" [minLength]="1" id="razonSocial" formControlName="razonSocial"
                                  [dynamicDisable]="!visibility.razonSocial" (onSelect)="onSelectPerson($event)"
                                  [clearValidators]="visibility.razonSocial" field="businessName"
                                  (blur)="listenForBlurEvents('razonSocial','blur')"
                                  (keyup)="listenForBlurEvents('razonSocial')"
                  ></p-autoComplete>
              <!--<input type="text" pInputText id="razonSocial" formControlName="razonSocial"
                     [dynamicDisable]="!visibility.razonSocial"
                     (blur)="listenForBlurEvents('razonSocial','blur')" (keyup)="listenForBlurEvents('razonSocial')">-->
              <label for="razonSocial"><span class="text-danger">*</span>Razon social</label>
              </span>
          </div>
        </div>
      </div>

      <!--Nit-->
      <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.nit">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput">
                <span class="ui-float-label">
              <input type="text" pInputText id="nit" formControlName="nit" [dynamicDisable]="!visibility.nit"
                     pTooltip="Ingrese el NIT con el número de verificación sin tener en cuenta el separador guión (-)"
                     (blur)="listenForBlurEvents('nit','blur')" (keyup)="listenForBlurEvents('nit')">
              <label for="nit">N&deg;. Identificacion Tributario</label>
              </span>
          </div>
        </div>
      </div>

      <!--Actua en Calidad-->
      <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.actuaCalidad">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="actuaCalidadSuggestions$ | async | dropdownItemSingle"
                          id="actuaCalidad"
                          formControlName="actuaCalidad"
                          [autoDisplayFirst]="false"
                          [filter]="true"
                          [autoWidth]="false"
                          [dynamicDisable]="!visibility.actuaCalidad"
              >
              </p-dropdown>
                            <label [ngClass]="{'ddfilled': form.get('actuaCalidad').value != null}" for="actuaCalidad">Actua en calidad</label>
              </span>
          </div>
        </div>
      </div>

      <!--Nombre y Apellidos-->
      <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.nombreApellidos">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput" [ngClass]="{'requerid': requeridoPerN }">
                <span class="ui-float-label">
                  <p-autoComplete [suggestions]="personsSuggestions$ | async" (completeMethod)="onFilterNombre($event)"
                                  [size]="30" [minLength]="1" id="nombreApellidos" formControlName="nombreApellidos"
                                  [dynamicDisable]="!visibility.nombreApellidos" (onSelect)="onSelectPerson($event)"
                                  [clearValidators]="visibility.personaJuridica" field="name"
                                  (blur)="listenForBlurEvents('nombreApellidos','blur')"
                                  (keyup)="listenForBlurEvents('nombreApellidos')"
                  ></p-autoComplete>
                  <!--              <input type="text" pInputText id="nombreApellidos" formControlName="nombreApellidos"-->
                  <!--                     [dynamicDisable]="!visibility.nombreApellidos"-->
                  <!--                     [clearValidators]="visibility.personaJuridica"-->
                  <!--                     (blur)="listenForBlurEvents('nombreApellidos','blur')"-->
                  <!--                     (keyup)="listenForBlurEvents('nombreApellidos')"-->
                  <!--              >-->
                <label [ngClass]="{'ddfilled': form.get('nombreApellidos').value != null}" for="nombreApellidos"><span class="text-danger" [hidden]="visibility.personaJuridica">*</span>Nombre y Apellidos</label>
              </span>
          </div>
        </div>
      </div>

      <!--Nro Documento Identidad-->
      <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.nroDocumentoIdentidad">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          </div>
          <div class="ui-g-12 divInput">
                <span class="ui-float-label">
              <input type="text" pInputText id="nroDocumentoIdentidad" formControlName="nroDocumentoIdentidad"
                     [dynamicDisable]="!visibility.nroDocumentoIdentidad"
                     (keyup)="listenForBlurEvents('nroDocumentoIdentidad')"
                     (blur)="listenForBlurEvents('nroDocumentoIdentidad','blur')">
              <label  for="nroDocumentoIdentidad">N&deg;. documento identificaci&oacute;n</label>
              </span>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g ui-fluid" [style.justify-content]="'flex-end'">
      <div class="ui-g-12">
        <button pButton type="button" class="buttonMain" label="Contactos" (click)="buscarContactos()"
                icon="pi pi-search" iconPos="left"
                *ngIf="buttonSearchContacts()" [disabled]="!buttonSearchContactsEnable()">
        </button>
        <button pButton label="Limpiar" class="buttonSecundary" icon="pi pi-refresh" iconPos="left"
                type="button" (click)="resetForm()" *ngIf="buttonSearchContacts()"></button>
      </div>
    </div>
  </div>
</form>

<div class="divSecundary" [ngClass]="{'requerid': requeridoSelected }" >
  <app-datos-direccion #datosContactos [editable]="editable" [contactsDefault]="contacts" ></app-datos-direccion>
</div>


<!--</p-panel>-->




