<div class="ui-g ui-fluid" style="max-height: 400px; overflow-y: auto">
  <div class="ui-g-12" padding-bottom>
    <div class="ui-sm-12 ui-md-5 ui-g-5 ui-lg-5">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Fecha y Hora de Radicación</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield">
              <label style="color: inherit">
                {{comunicacion.correspondencia?.fecRadicado | date:'dd/MM/yyyy'}}  {{comunicacion.correspondencia?.fecRadicado | date:'mediumTime'}}
              </label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Número de radicado</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield">
              <label style="color: inherit">{{comunicacion.correspondencia?.nroRadicado | niceNoRadicado}}</label>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12" padding-bottom>
    <div class="ui-sm-12 ui-md-5 ui-g-5 ui-lg-5">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Tipo de comunicación</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">
              <label
                style="color: inherit">{{comunicacion.correspondencia?.codTipoCmc | constantCode:constantesList}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4" *ngIf="isComunicacionEntrada">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Modo de recepción</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">
              <label
                style="color: inherit">{{comunicacion.correspondencia?.codMedioRecepcion| constantCode:constantesList}}</label>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12" padding-bottom>
    <div class="ui-sm-12 ui-md-5 ui-g-5 ui-lg-5">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Tipo Documento</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">
              <label
                style="color: inherit">{{((comunicacion.ppdDocumentoList && comunicacion.ppdDocumentoList[0]) ? comunicacion.ppdDocumentoList[0].codTipoDoc : "") | constantCode:constantesList}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4" *ngIf="isComunicacionEntrada">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield ">
            <label>Tiempo de respuesta</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">
              <label style="color: inherit">{{comunicacion.correspondencia?.tiempoRespuesta}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-md-3 ui-g-3 ui-lg-3" *ngIf="isComunicacionEntrada">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield ">
            <label>Unidad de tiempo</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">
              <label
                style="color: inherit">{{comunicacion.correspondencia?.codUnidadTiempo | constantCode:constantesList}}</label>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12" padding-bottom>
    <div class="ui-sm-6 ui-md-2 ui-g-2 ui-lg-2">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield ">
            <label>N&deg;. Folios</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">
              <label
                style="color: inherit">{{comunicacion.ppdDocumentoList ? comunicacion.ppdDocumentoList[0].nroFolios : ''}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-6 ui-md-3 ui-g-3 ui-lg-3">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Cantidad de anexos</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">
              <label
                style="color: inherit">{{comunicacion.ppdDocumentoList ? comunicacion.ppdDocumentoList[0].nroAnexos : ''}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4" *ngIf="isComunicacionEntrada">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Requiere digitalización</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">
              <label style="color: inherit">{{comunicacion.correspondencia?.reqDigita == null ? 'No' : 'Sí'}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-md-3 ui-g-3 ui-lg-3">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Requiere distribución física</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">

              <label style="color: inherit">{{comunicacion.correspondencia?.reqDistFisica == 1 ? 'Sí' : 'No'}}</label>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-g-12" padding-bottom *ngIf="isComunicacionEntrada">
    <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Requiere adjuntar documento</label>
          </span>
        </div>
        <div class="ui-g-12 divInput">
          <span class="md-inputfield ">
              <label
                style="color: inherit">{{comunicacion.correspondencia?.adjuntarDocumento == 1 ? 'Sí' : 'No'}}</label>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
      <div class="ui-g-12">
        <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple" [scrollable]="true"
                     [paginator]="true" [rows]="5" [responsive]="true" [value]="comunicacion.referidoList">
          <p-header>
            <div class="ui-helper-clearfix">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-12 headerTable">
                  Radicados Referidos
                </div>
              </div>
            </div>
          </p-header>
          <p-column header="Radicado referido" [sortable]="true" field="nroRadRef"
                    [style]="{'width':'150px'}"></p-column>
        </p-dataTable>
      </div>
    </div>
  </div>

  <div class="ui-g-12" padding-bottom>
    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Asunto</label>
          </span>
        </div>
        <div class="ui-g-12" padding-bottom>
          <span class="md-inputfield">
              <p style="color: inherit;word-wrap: break-word">{{comunicacion.correspondencia?.descripcion}}</p>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
      <div class="ui-g-12">
        <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple" [scrollable]="true"
                     [paginator]="true" [rows]="5" [responsive]="true" [value]="comunicacion.anexoList">
          <p-header>
            <div class="ui-helper-clearfix">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-12 headerTable">
                  Descripción de anexos
                </div>
              </div>
            </div>
          </p-header>
          <p-column header="Tipo anexo" [sortable]="true" field="codAnexo" [style]="{'width':'120px'}">
            <ng-template let-col let-anexo="rowData" pTemplate="body">
              {{anexo[col.field] | constantCode:constantesList}}
            </ng-template>
          </p-column>
          <p-column header="Soporte anexos" [sortable]="true" field="codTipoSoporte" [style]="{'width':'80px'}">
            <ng-template let-col let-anexo="rowData" pTemplate="body">
              {{anexo[col.field] | constantCode:constantesList}}
            </ng-template>
          </p-column>
          <p-column header="Descripción" [sortable]="true" field="descripcion" [style]="{'width':'120px'}"></p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
