<form [formGroup]="form" name="formDefault" *ngIf="form && !readOnly ">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-card header="Datos destinatario" class="my-card" [style]="{border: 'none'}">

        <!--<div class="ui-g ui-fluid">-->
        <!--<div class="ui-sm-12 ui-g-12 ui-lg-12">-->
        <!--<div class="ui-g form-group text-right" style="float: right">-->
        <!--<div class="ui-helper-clearfix">-->
        <!--<input type="checkbox" id="principal" [(ngModel)]="principal" [disabled]="principal"> <label for="cbox2">Principal</label>-->
        <!--&lt;!&ndash;<input type="checkbox"  name="principal" formControlName="principal"  value="Principal" disabled="principal" />&ndash;&gt;-->
        <!--&lt;!&ndash;<p-checkbox name="principal" label="Principal" formControlName="principal" value="principal"&ndash;&gt;-->
        <!--&lt;!&ndash;[dynamicDisable]="!principal"></p-checkbox>&ndash;&gt;-->

        <!--<input type="checkbox" [disabled]="principal" (change)="checkSelected(checkBox[0].label)">{{checkBox[0].label}}-->
        <!--<input type="checkbox" [disabled]="checkBox[1].checked" (change)="checkSelected(checkBox[1].label)">{{checkBox[1].label}}-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--Tipo Destinatario-->
        <div class="ui-g ui-fluid">
          <div class="ui-sm-12 ui-g-4 ui-lg-4">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
            <span class="ui-float-label">
            <p-dropdown [options]="tipoDestinatarioSuggestions$ | async | dropdownItem"
                        id="tipoDestinatario"  appendTo="body"
                        formControlName="tipoDestinatario"
                        [autoDisplayFirst]="false" [disabled]="disableTipoPerson"
                        [filter]="true" (change)="destinatari()"
                        [autoWidth]="false">
            </p-dropdown>
                          <label [ngClass]="{'ddfilled': form.get('tipoDestinatario').value != null}" for="tipoDestinatario"><span class="text-danger">*</span>Tipo destinatario</label>
            </span>
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g ui-fluid" [hidden]="!visibility.sede">
          <div class="ui-sm-12 ui-g-6 ui-lg-6">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="sedeAdministrativaSuggestions$ | async | dropdownItem"
                          id="sede"
                          formControlName="sede"
                          appendTo="body"
                          [autoDisplayFirst]="false"
                          [filter]="true"
                          [autoWidth]="false"
                          [dynamicDisable]="!visibility.sede"
                          (onBlur)="listenForBlurEvents('sede')">
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('sede').value != null}" for="sede"><span class="text-danger">*</span>Dependencia Jerárquica</label>
              </span>
              </div>
            </div>
          </div>

          <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.dependencia">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="dependenciasGrupoList | dropdownItem"
                          id="dependencia"
                          formControlName="dependencia"
                          appendTo="body"
                          [autoDisplayFirst]="false"
                          [filter]="true"
                          [autoWidth]="false"
                          [dynamicDisable]="!visibility.dependencia"
                          (onBlur)="listenForBlurEvents('dependencia')"
              >
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('dependencia').value != null}" for="dependencia"><span class="text-danger">*</span>{{showNewTittle ? 'Dependencia de Destino' : 'Dependencia Productora'}}</label>
              </span>
              </div>
            </div>
          </div>

          <!--<div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.funcionario">-->
          <!--<div class="ui-g form-group">-->
          <!--<div class="ui-g-12">-->
          <!--<label for="funcionario"><span class="text-danger">*</span>Funcionario</label>-->
          <!--</div>-->
          <!--<div class="ui-g-12 md-dropdownfield">-->

          <!--<p-dropdown [options]="funcionariosSuggestions$ | async | dropdownItem"-->
          <!--id="funcionario"-->
          <!--formControlName="funcionario"-->
          <!--placeholder="Seleccione"-->
          <!--[filter]="true"-->
          <!--[autoWidth]="false"-->
          <!--[dynamicDisable]="!visibility.funcionario"-->
          <!--(onBlur)="listenForBlurEvents('funcionario')"-->
          <!--&gt;-->
          <!--</p-dropdown>-->

          <!--<div class="ui-message ui-messages-error"-->
          <!--*ngIf="validations.funcionario">-->
          <!--{{ validations.funcionario }}-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

        </div>

        <div class="ui-g ui-fluid" [hidden]="!visibility.tipoPersona">

          <!--Tipo Persona-->
          <div class="ui-sm-12 ui-g-6 ui-lg-6">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="tipoPersonaSuggestions$ | async | dropdownItem"
                          id="tipoPersona"
                          formControlName="tipoPersona"
                          [autoDisplayFirst]="false"
                          [filter]="true"  appendTo="body"
                          [autoWidth]="false"
                          [dynamicDisable]="!visibility.tipoPersona"
                          (onBlur)="listenForBlurEvents('tipoPersona')"
                          (onChange)="changeTipoPersona()">
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('tipoPersona').value != null}" for="tipoPersona"><span class="text-danger">*</span>Tipo de persona</label>
              </span>
              </div>
            </div>
          </div>

          <!--Tipo Documento-->
          <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.tipoDocumento">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="subscriptionTipoDocumentoPersona | dropdownItem"
                          id="tipoDocumento"
                          [filter]="true" appendTo="body"
                          formControlName="tipoDocumento"
                          [autoDisplayFirst]="false"
                          [autoWidth]="false"
                          [dynamicDisable]="!visibility.tipoDocumento"
              >
              </p-dropdown>
                <label [ngClass]="{'ddfilled': form.get('tipoDocumento').value != null}" for="tipoDocumento"><span class="text-danger">*</span>Tipo documento Identificaci&oacute;n</label>
              </span>
              </div>
            </div>
          </div>

          <!--Razon Social-->
          <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.razonSocial">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
              <span class="ui-float-label">
                <p-autoComplete id="razonSocial" [suggestions]="personsSuggestions$ | async" field="businessName"
                                formControlName="razonSocial"
                                (completeMethod)="onFilterRazonSocial($event)" [size]="30" [minLength]="1"
                                [dynamicDisable]="!visibility.razonSocial"
                                (blur)="listenForBlurEvents('razonSocial','blur')"
                                (keyup)="listenForBlurEvents('razonSocial')" (onSelect)="onSelectPerson($event)"
                                (onUnselect)="onUnSelectPerson($event)">
                  </p-autoComplete>
              <label for="razonSocial"><span class="text-danger">*</span>Razon social</label>
              </span>
              </div>
            </div>
          </div>

          <!--Nit-->
          <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.nit">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <input type="text" pInputText id="nit" formControlName="nit" [dynamicDisable]="!visibility.nit"
                     pTooltip="Ingrese el NIT con el número de verificación sin tener en cuenta el separador guión (-)"
                     (blur)="listenForBlurEvents('nit','blur')" (keyup)="listenForBlurEvents('nit')">
              <label for="nit">No Identificacion Tributario</label>
              </span>
              </div>
            </div>
          </div>

          <!--Actua en Calidad-->
          <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.actuaCalidad">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="actuaCalidadSuggestions$ | async | dropdownItem"
                          id="actuaCalidad"
                          formControlName="actuaCalidad"
                          [autoDisplayFirst]="false"
                          [filter]="true"
                          [autoWidth]="false"
                          [dynamicDisable]="!visibility.actuaCalidad"
              >
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('actuaCalidad').value != null}" for="actuaCalidad"><span class="text-danger">*</span>Actua en calidad</label>
              </span>
              </div>
            </div>
          </div>

          <!--&lt;!&ndash;Nombre y Apellidos&ndash;&gt;
          <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.nombre">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <input type="text" pInputText id="nombre" formControlName="nombre"
                     [dynamicDisable]="!visibility.nombre" (blur)="listenForBlurEvents('nombre','blur')"
                     (keyup)="listenForBlurEvents('nombre')"
                     [clearValidators]="visibility.personaJuridica">
                <label for="nombre"><span class="text-danger" [hidden]="visibility.personaJuridica">*</span>Nombre y
                  Apellidos</label>
              </span>
              </div>
            </div>
          </div>-->
          <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.nombre">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput ">
                <span class="ui-float-label">
                  <p-autoComplete id="nombre" [suggestions]="personsSuggestions$ | async" field="name" formControlName="nombre"
                                  (completeMethod)="onFilterNombre($event)" [size]="30" [minLength]="1"
                                  [dynamicDisable]="!visibility.nombre" (blur)="listenForBlurEvents('nombre','blur')"
                                  (keyup)="listenForBlurEvents('nombre')" (onSelect)="onSelectPerson($event)" (onUnselect)="onUnSelectPerson($event)"
                                  [clearValidators]="visibility.personaJuridica">
                  </p-autoComplete>
                  <label for="nombre"><span class="text-danger" [hidden]="visibility.personaJuridica">*</span>Nombre y
                  Apellidos</label>
                </span>
              </div>
            </div>
          </div>
          <!--Nro Documento Identidad-->
          <div class="ui-sm-12 ui-g-6 ui-lg-6" [hidden]="!visibility.nroDocumentoIdentidad">
            <div class="ui-g form-group">
              <div class="ui-g-12">
              </div>
              <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <input type="text" pInputText id="nroDocumentoIdentidad" formControlName="nroDocumentoIdentidad"
                     (blur)="listenForBlurEvents('nroDocumentoIdentidad','blur')"
                     (keyup)="listenForBlurEvents('nroDocumentoIdentidad')"
                     [dynamicDisable]="!visibility.nroDocumentoIdentidad">
              <label for="nroDocumentoIdentidad">No. Documento identidad</label>
              </span>
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <button pButton type="button" class="ui-button-primary"
                    class="buttonMain" icon="pi pi-search" iconPos="left"
                    label="Contactos" (click)="buscarContactos()" *ngIf="buttonSearchContacts()"
                    [disabled]="!buttonSearchContactsEnable()"></button>
            <button pButton label="Limpiar" class="buttonSecundary" icon="pi pi-refresh" iconPos="left"
                    type="button" (click)="cleanForm()" *ngIf="buttonSearchContacts()"></button>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</form>

<div *ngIf="visibility.datosContacto">
  <app-datos-direccion #destinatarioDatosContactos [editable]="editable"
                       [anonimo]="isAnonimo" [distribucion]="distribucion"
                       (nuevosContactos)="updateDestinatarioContacts($event)"
                       (loadComponent)="ShowFormContactData($event)"></app-datos-direccion>
</div>

<div class="ui-g form-group text-right" style="padding-top: 19px;float: right">
  <div class="ui-dialog-buttonpane1 ui-helper-clearfix">
    <button pButton type="button" class="buttonMain" icon="pi pi-check" iconPos="left" label="Aceptar"
            [disabled]="disabledButtonAgregar()"
            *ngIf="visibility.sede && visibility.dependencia" (click)="saveRemitente()"></button>
    <button pButton type="button" class="buttonMain" icon="pi pi-check" iconPos="left" label="Aceptar"
            [disabled]="disabledButtonAgregar() || isSelectedContact()"
            *ngIf="!visibility.sede && !visibility.dependencia" (click)="saveRemitente()"></button>
  </div>
</div>



