<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<div class="ui-fluid">
  <p-card class="my-card">
    <div class="page-title">
      <div class="ui-g">
        <div class="ui-sm-12 ui-g-6">
          <div class="ui-g-12">
            <h2 class="text-left page-title-primary">Consola de seguimiento ejecucción índice electrónico</h2>
            <hr class="hr-sub-title">
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2"  [formGroup]="formIndice" [ngClass]="{'requerid': fechaInicial }">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
                    <span class="ui-float-label">
                    <p-calendar [(ngModel)]="start_date" [maxDate]="end_date" [showIcon]="true" dateFormat="dd/mm/yy" [locale]="es"
                                id="fechaInicial" [icon]="iconCalendar" [required]="true" formControlName="fechaInicial"></p-calendar>
                      <label for="fechaInicial" class="float-calendar"><span class="text-danger">*</span>Fecha Inicial</label>
                    </span>
              </div>
            </div>
          </div>
          <div class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2" [formGroup]="formIndice" [ngClass]="{'requerid': fechaFinal }">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
                    <span class="ui-float-label">
                    <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" id="fechaFinal" [required]="true" [maxDate]="end_date"
                                [locale]="es" [icon]="iconCalendar" [(ngModel)]="end_date" [minDate]="start_date" formControlName="fechaFinal">
                    </p-calendar>
                      <label for="fechaFinal" class="float-calendar"><span class="text-danger">*</span>Fecha Final</label>
                    </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codigoSerie" id="codigoSerie" pInputText type="text">
                <label>Código serie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSubSerie" id="codSubSerie" pInputText type="text">
                <label>Código subserie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div class="ui-sm-1 ui-g-1 ui-lg-1 ui-md-1">
            <div class="ui-g form-group">
              <div class="ui-g-2">
              </div>
              <div class="ui-g-12">
                <i class="icons fa ui-icon-close icons" pTooltip="Limpiar datos" tooltipPosition="top"
                   (click)="cleanForm()"></i>
                <i class="icons fa ui-icon-search icons" pTooltip="Consultar" tooltipPosition="top"
                   (click)="findIndices()"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12">
          <div [formGroup]="formIndice" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codigoDependencia" id="codigoDependencia" pInputText type="text">
                <label>Código dependencia productora</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <p-dropdown [editable]="false" [autoDisplayFirst]="true"
                          [filter]="true" [resetFilterOnHide]="true"
                          [autoWidth]="false" formControlName="estado"
                          id="estado" [options]="estados"></p-dropdown>
                <label [ngClass]="{'ddfilled': formIndice.get('estado').value != null}" for="estado">Estado de Ejecución</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-2 ui-g-2 ui-lg-2 ui-md-2">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <p-dropdown [editable]="false" [autoDisplayFirst]="false"
                          [filter]="true" [resetFilterOnHide]="true"
                          [autoWidth]="false" formControlName="objectStore"
                          id="objectStore"></p-dropdown>
                <label>Object Store</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formIndice" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="idExpediente" id="idExpediente" pInputText type="text">
                <label>GUID Expediente</label>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-panel class="my-panel" [style]="{ border: 'none'}">
        <div class="divPanel">
          <div class="ui-g ui-fluid divTable">
            <div class="ui-g-12">
              <p-dataTable emptyMessage="No se encontraron resultados" [value]="listadoIndices$ | async"
                           [responsive]="true" [(selection)]="folderSelected"
                           [scrollable]="true"
                           [rows]="5" csvSeparator=";"
                           [paginator]="true">
                <p-header>
                  <div class="ui-helper-clearfix">
                    <div class="ui-g">
                      <div class="ui-g-11 ui-md-11" style="line-height: 35px;">
                        Resultados de Búsqueda:
                      </div>
                      <!-- <div class="ui-g-1 ui-md-1 text-right" style="line-height: 35px;" *ngIf="folderSelected.length>0">
                         <fa-icon class="iconsFA" [icon]="faRedo" pTooltip="Reintentar"
                                  tooltipPosition="top" (click)="reintentar()"></fa-icon>
                       </div>
                       <div class="ui-g-1 ui-md-1 text-center" style="line-height: 35px;" *ngIf="folderSelected.length<=0">
                       </div>
                       <div class="ui-g-1 ui-md-1 text-center" style="line-height: 35px;">
                         <fa-icon class="iconsFA" [icon]="faDownload" pTooltip="Descargar CSV"
                                  tooltipPosition="top" (click)="downloadCSV()"></fa-icon>
                       </div>-->
                      <div class="ui-g-1 ui-md-1 text-center" style="line-height: 35px;" *ngIf="folderSelected.length>0">
                        <fa-icon class="iconsFA" [icon]="faRedo" pTooltip="Reintentar"
                                 tooltipPosition="top" (click)="reintentar()"></fa-icon>
                        <fa-icon class="iconsFA" [icon]="faDownload" pTooltip="Descargar CSV"
                                 tooltipPosition="top" (click)="downloadCSV()"></fa-icon>
                      </div>
                      <div class="ui-g-1 ui-md-1 text-center" style="line-height: 35px;" *ngIf="folderSelected.length==0">
                        <fa-icon class="iconsFA fa-disabled" [icon]="faRedo" pTooltip="Reintentar"
                                 tooltipPosition="top" (click)="reintentar()" disabled="true"></fa-icon>
                        <fa-icon class="iconsFA" [icon]="faDownload" pTooltip="Descargar CSV"
                                 tooltipPosition="top" (click)="downloadCSV()"></fa-icon>
                      </div>
                    </div>
                  </div>
                </p-header>
                <p-column [style]="{'width':'40px'}" selectionMode="multiple" styleClass="col-icon"></p-column>
                <p-column [style]="{'width':'120px'}" header="ID Indice">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.idIndice}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'70px'}" header="Versión">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.version}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="GUID de Expediente">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.idExpediente}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Fecha de Registro">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.creationDate}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Fecha de Ejecución">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.fechaEjecucion}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Object Store">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.objectStore}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Código Serie">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.codSerie}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Código Subserie">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.codSubSerie}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Cód. depen. productora">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.codDependencia}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Origen Ejecución">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.origenDeEjecucion}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Estado">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.estado}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Usuario">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.usuarioExecute}}
                  </ng-template>
                </p-column>
                <p-column header="Acciones" [style]="{'text-align':'center','width':'120px'}">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    <i class="icons material-icons-outlined icons" pTooltip="Detalles de ejecución" tooltipPosition="top"
                       (click)="showDetailsDialog(row)">info</i>
                    <i class="icons material-icons-outlined icons" pTooltip="Ver" tooltipPosition="top">find_in_page</i>
                    <i class="icons material-icons-outlined icons" pTooltip="Descargar" tooltipPosition="top"
                    >file_download</i>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>

<p-dialog [(visible)]="executionDetails" modal="modal" [responsive]="true"
          (onHide)="hideExecutionDetailsPopup()" [width]="1200" [positionTop]="10">
  <p-header>
    Detalle Ejecución Indice
  </p-header>
  <app-popup-detalle-ejecucion #details (opt)="hideExecutionDetailsPopup()"></app-popup-detalle-ejecucion>
</p-dialog>


