<div class="ui-fluid radicar-comunicaciones">
  <div class="ui-g ui-fluid divTable">
    <div class="ui-g-12">
      <p-progressBar *ngIf="loading" mode="indeterminate"></p-progressBar>
      <p-dataTable *ngIf="!loading" [paginator]="true"
                   [responsive]="true" [rows]="10"
                   [scrollable]="true"
                   [value]="documentsList"
                   emptyMessage="No tiene documentos asociados"
                   inmutable="true" selectionMode="single">
        <!--<p-header>Redirecciones / Devoluciones Fallidas</p-header>-->
        <p-header>
          <div class="ui-helper-clearfix">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-10 headerTable">
                Documentos Asociados
              </div>
            </div>
          </div>
        </p-header>
        <p-column *ngIf="!versionar" [sortable]="true" [style]="{'width':'120px'}" field="principal"
                  header="Principal">
          <ng-template let-row="rowData" pTemplate="item">
            <div style="text-align: center">
              <i *ngIf="row.tipoPadreAdjunto==='Principal'" class="material-icons checked">checked</i>
              <i *ngIf="row.tipoPadreAdjunto!='Principal'" class="material-icons red">close</i>
            </div>
          </ng-template>
        </p-column>
        <p-column [sortable]="true" [style]="{'width':'110px'}" field="nombreDocumento" header="Nombre"></p-column>
        <p-column [sortable]="true" [style]="{'width':'110px'}" field="tamano" header="Tamaño">
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{(row.tamano / 1024)|number:'1.0-0'}}KB
          </ng-template>
        </p-column>
        <p-column [sortable]="true" [style]="{'width':'120px'}" field="tipoDocumento" header="Tipo"></p-column>
        <p-column [sortable]="true" [style]="{'width':'120px'}" field="fechaCreacion"
                  header="Fecha de ultima modificación">
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{row.fechaCreacion|date:'dd/MM/yyyy'}}
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'100px','text-align':'center'}" header="Documento">
          <ng-template let-row="rowData" pTemplate="item">
            <i (click)="showDocument(row)" *ngIf="!viewerManager"
               class="fa ui-icon-visibility icons" pTooltip="Ver Documento" tooltipPosition="top"></i>
          </ng-template>
        </p-column>
        <p-column *ngIf="versionar && causaDI" [style]="{'width':'265px','text-align':'center'}" header="Acciones">
          <ng-template let-row="rowData" pTemplate="item">
            <p-fileUpload #uploader (onRemove)="clearFileList(uploader)"
                          (onSelect)="selectFile(uploader)"
                          (onUpload)="onUpload()"
                          (uploadHandler)="uploadHandler($event, uploader)"
                          *ngIf="row.tipoPadreAdjunto==='Principal'"
                          [showCancelButton]="false"
                          [showUploadButton]="false"
                          accept="application/pdf"
                          maxFileSize="52428800"
                          cancelLabel="Cancelar"
                          chooseLabel="Buscar"
                          customUpload="true"
                          uploadLabel="Versionar"
            ></p-fileUpload>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <p-dialog [(visible)]="viewDocument" [modal]="false" [responsive]="true"
            [showHeader]="false" styleClass="dialog-visor-pdf" positionTop="20" (onHide)="hideDocument()">

    <div *ngIf="viewerManager" class="ui-g-12">
      <p-panel>
        <p-header>
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-sm-6 ui-md-10 headerTable">
              Documento
            </div>
            <div class="ui-g-12 ui-sm-6 ui-md-2 text-right">
              <button (click)="hideDocument()" class="buttonTertiary" icon="pi pi-times" iconPos="left" label="Cerrar"
                      pButton type="button" style="top: -6px"></button>
            </div>
          </div>
        </p-header>
        <ng-template [ngIfElse]="htmlContent" [ngIf]=" $viewer.PDF == viewerManager">
          <p-blockUI [blocked]="isLoading"></p-blockUI>
          <div class="pdf-container">
            <div class="pdf-container-print visor-pdf" id="pdf-embeded" style="min-height: 400px"></div>
          </div>
        </ng-template>

        <ng-template #htmlContent>
          <div [content]="contentHtml" class="visor-pdf" appHtmlContent id="content-html " style="padding: 10px"></div>
        </ng-template>
      </p-panel>
    </div>

  </p-dialog>
</div>

<a id='dwnldLnk' style="display:none;" target="_blank"></a>

<p-dialog [(visible)]="showVersionado" [responsive]="true" (onHide)="hideDocument()" [modal]="false" styleClass="dialog-visor-pdf" header="Documento"
          [style]="{'overflow': 'scroll','max-height': '100%'}">
  <ngx-extended-pdf-viewer *ngIf="showVersionado"
                           class="pdfviewer" [base64Src]="documentPreviewUrl" [delayFirstView]="500"
                           backgroundColor="#ffffff" [height]="'80vh'" [handTool]="false" [filenameForDownload]="pdfName"
                           [showHandToolButton]="true" [useBrowserLocale]="true">
  </ngx-extended-pdf-viewer>
</p-dialog>
