<div class="ui-fluid">
  <p-card class="my-card">
    <div class="ui-g">
      <div class="ui-sm-12 ui-g-6">
        <div class="ui-g-12" *ngIf="details">
          <h2 class="text-left page-title-primary">Índice {{details.idIndice | guidPipe}} - {{details.version}}</h2>
          <h3 class="text-left page-title-primary">{{details.idExpediente | guidPipe}}</h3>
          <h3 class="text-left page-title-primary">{{details.title}}</h3>
          <hr class="hr-sub-title">
        </div>
      </div>
      <div class="ui-sm-12 ui-g-6 text-right">
        <button class="buttonMain" icon="pi pi-times" iconPos="left" label="Cerrar"
                pButton type="button" (click)="hideExecutionDetailsPopup()">
        </button>
      </div>
    </div>
  </p-card>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g">
        <div class="ui-sm-12 ui-g-6">
          <div class="ui-g-12">
            <h2 class="text-left page-title-primary-indice">Detalle de Ejecución</h2>
          </div>
        </div>
        <div class="ui-g-6 text-right">
          <fa-icon class="iconsIndice" [icon]="faSyncAlt" (click)="findIndiceData()"></fa-icon>
          <fa-icon class="iconsIndice" [icon]="faDownload" (click)="downloadCSV()"></fa-icon>
        </div>
      </div>
        <div class="divPanel">
          <div class="ui-g ui-fluid divTable">
            <div class="ui-g-12">
              <p-dataTable emptyMessage="No se encontraron resultados" [value]="listaDocuments$ | async"
                           [responsive]="true"
                           [scrollable]="true"
                           [rows]="5"
                           [paginator]="true">
                <p-column [style]="{'width':'200px'}" header="Documento">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.idGuid}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Código tipo documental">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.codTipoDocumental}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'200px'}" header="Nombre del documento">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.nombreDocumento}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Evento">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.evento}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Fecha de Evento">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.fechaEvento}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Usuario">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.usuario}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'120px'}" header="Estado">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.estado}}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'200px'}" header="Descripción error generado">
                  <ng-template let-row="rowData" let-row="rowIndex" pTemplate="body">
                    {{row.observacion}}
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
