<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
      <div class="ui-g-12">
        <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple"
                     [paginator]="true" [rows]="5" [responsive]="true"
                     [value]="destinatarioList" [scrollable]="true">
          <p-header>
            <div class="ui-helper-clearfix">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-12 headerTable">
                  Datos destinatario
                </div>
              </div>
            </div>
          </p-header>
          <p-column header="Tipo destinatario" [sortable]="true" field="tipoDestinatario" [style]="{'width':'120px'}">

          </p-column>
          <p-column header="Depedencia Jerárquica" [sortable]="true" field="sede" [style]="{'width':'120px'}">

          </p-column>
          <p-column header="Dependencia Productora" [sortable]="true" field="dependencia" [style]="{'width':'120px'}">
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
