<div class="comunicacion-detalles">
  <form name="formDefault" [formGroup]="form">
    <div class="ui-g ui-fluid" padding-bottom>
      <div class="ui-sm-12 ui-g-6 ui-lg-6">
        <div class="ui-g form-group">
          <div class="ui-g-12 divInput">
            <span class="ui-float-label">
            <p-dropdown [options]="procesosSuggestions | dropdownItem" [filter]="true"
                        formControlName="proceso" [autoDisplayFirst]="false"
                        id="proceso" [autoWidth]="false" (onChange)="onChange()"
                        (onBlur)="listenForBlurEvents('proceso')">
            </p-dropdown>
            <label [ngClass]="{'ddfilled': form.get('proceso').value != null}" for="proceso"><span class="text-danger">*</span>Acciones</label>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g ui-fluid" padding-bottom>
      <!--<div class="ui-sm-12 ui-g-6 ui-lg-6">-->
      <!--<div class="ui-g form-group" [style.display]="hideCheckBox ? 'none' : ''">-->
      <!--<p-checkbox name="responseToRem"-->
      <!--label="Responder a remitente"-->
      <!--formControlName="responseToRem"-->
      <!--id="responseToRem"-->
      <!--binary="true">-->
      <!--</p-checkbox>-->
      <!--</div>-->
      <!--</div>-->
      <div class="ui-sm-12 ui-g-6 ui-lg-6">
        <div class="ui-g form-group">
          <button pButton type="button" label="Gestionar proceso" icon="pi pi-check" iconPos="left" class="buttonMain"
                  (click)="gestionarProceso()" [disabled]="!form.valid || task === null"></button>
        </div>
      </div>
    </div>
  </form>
</div>

<p-dialog [(visible)]="rejectDialogVisible" modal="modal" [responsive]="true"
          [contentStyle]="{'overflow':'visible'}"
          (onHide)="hideRejectDialog()" [width]="800">
  <p-header>
    Devolver a Gestión Documental
  </p-header>
  <app-popup-reject #popupReject (onRejectComunication)="rejectComunications($event)"></app-popup-reject>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" class="buttonMain" [disabled]="!popupReject.form.valid"
              label="Devolver" (click)="sendReject()" icon="pi pi-angle-left" iconPos="left"></button>
      <button pButton type="button" class="buttonSecundary" icon="pi pi-times" iconPos="left"
              label="Cerrar" (click)="hideRejectDialog()"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog [(visible)]="justificationDialogVisible" modal="modal" [responsive]="true" positionTop="20"
          [contentStyle]="{'overflow':'visible'}"
          (onHide)="hideJustificationPopup()" [width]="800">
  <p-header>
    Devolver al asignador
  </p-header>
  <app-popup-justificacion (onRedirectComunication)="redirectComunications($event)"
                           #popupjustificaciones></app-popup-justificacion>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" class="buttonMain" icon="pi pi-angle-left" iconPos="left"
              [disabled]="!popupjustificaciones.form.valid"
              label="Devolver" (click)="sendRedirect()"></button>
      <button pButton type="button" class="buttonSecundary" icon="pi pi-times" iconPos="left"
              label="Cerrar" (click)="hideJustificationPopup()"></button>

    </div>
  </p-footer>
</p-dialog>

