<form [formGroup]="form" name="formDefault">
  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
          <span class="ui-float-label" style="top: 18px;">
             <input id="nro_guia" formControlName="nro_guia" type="text" pInputText>
             <label for="nro_guia">No. Guía</label>
           </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
          <span class="ui-float-label" style="top: 18px;">
            <input type="text" pInputText id="peso" formControlName="peso" (blur)="OnBlurEvents('peso')"/>
            <label for="peso">Peso</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12 md-inputfield">
          <span class="ui-float-label" style="top: 18px;">
            <input type="text" pInputText id="valor" formControlName="valor" (blur)="OnBlurEvents('valor')"/>
            <label for="valor">Valor de envío</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 md-dropdownfield">
          <button pButton type="button" class="ui-button-primary" icon="pi pi-save" iconPos="left"
                  label="Guardar" [disabled]="form.invalid"
                  style="width:auto;margin-left:5px;margin-top:20px;float:right;" (click)="Guardar()"
                  class="buttonMain">
          </button>
          <button pButton type="button" class="ui-button-primary"
                  style="width:auto;margin-left:5px;margin-top:20px;float:right;" icon="pi pi-times" iconPos="left"
                  label="Cerrar" (click)="Cancelar()" class="buttonSecundary"></button>
        </div>
      </div>
    </div>
  </div>
</form>


