<!--Body-->
<div class="ui-g">

  <!--  <div class="card card-w-title" *ngIf="showContactForm !== true">-->
  <div *ngIf="showContactForm !== true">
    <!--    <h1>Datos de Contacto</h1>-->
    <div class="ui-g ui-fluid">

      <!--Direccion-->
      <div class="ui-fluid divTable">
        <p-dataTable [(value)]="contacts" [(selection)]="direccionSeleccionada" selectionMode="single"
                     [paginator]="true"
                     [rows]="10" [responsive]="true"
                     emptyMessage="No se encontraron resultados" [scrollable]="true">
          <p-header>
            <div class="ui-helper-clearfix">
              <div class="ui-g">
                <div class="ui-g-12 ui-md-10 headerTable">
                  Datos de contacto y dirección
                </div>
                <div class="ui-g-12 ui-md-2" style="text-align:right">
                  <button pButton type="button" label="Agregar" class="buttonHeaderTable" icon="pi pi-plus"
                          iconPos="left" (click)="addContact()" *ngIf="editable"></button>
                </div>
              </div>
            </div>
          </p-header>
          <p-column selectionMode="single" [style]="{'width': '38px'}"></p-column>
          <p-column header="Datos">
            <ng-template let-contact="rowData" let-i="rowIndex" pTemplate="item">
              <!--<div class="ui-g ui-fluid">-->
              <!---->
              <!--</div>-->
              <div class="ui-sm-12 ui-md-12 ui-g-5 ui-lg-5">
                <div class="ui-g-12" *ngIf="contact.correoEle">
                  <i class="fa ui-icon-contact-mail"></i>
                  <span class="table-text-custom">
                      {{ contact.correoEle }}
                    </span>

                </div>
                <div class="ui-g-12" *ngIf="contact.numeroTel">
                  <i class="fa ui-icon-contact-phone"></i>
                  <span class="table-text-custom">
                    {{ contact.numeroTel | countryPhone}}
                    </span>
                </div>
                <div class="ui-g-12" *ngIf="contact.celular">
                  <i class="fa ui-icon-smartphone"></i>
                  <span class="table-text-custom">
                    {{ contact.celular }}
                    </span>

                </div>
              </div>
              <div class="ui-sm-12 ui-md-12 ui-g-7 ui-lg-7">

                <div class="ui-g-12"
                     *ngIf="contact.address && (!contact.pais?.codigo || isColombiaCodigo(contact.pais?.codigo))">
                  <i class="fa ui-icon-location-on"> </i>
                  <span class="table-text-custom">
                        {{ contact.address | direccionToText }}
                        </span>
                </div>
                <div class="ui-g-12" *ngIf="contact.pais">
                                    <span class="table-text-custom">
                      <b>País: &nbsp;</b>
                                      {{ contact.pais.nombre }}
                    </span>
                </div>
                <ng-template [ngIf]="isColombiaCodigo(contact.pais?.codigo)" [ngIfElse]="foreignAdress">
                  <div class="ui-g-12" *ngIf="contact.departamento">
                             <span class="table-text-custom">
                              <b>Departamento: &nbsp;</b>
                               {{ contact.departamento.nombre }}
                             </span>
                  </div>

                  <div class="ui-g-12" *ngIf="contact.municipio">
                            <span class="table-text-custom">
                             <b>Municipio: &nbsp;</b>
                              {{ contact.municipio.nombre }}
                            </span>
                  </div>
                </ng-template>
                <ng-template #foreignAdress>
                  <div class="ui-g-12" *ngIf="contact.provState">
                          <span class="table-text-custom">
                             <b>Provincia/Estado: &nbsp;</b>
                            {{ contact.provState }}
                          </span>
                  </div>

                  <div class="ui-g-12" *ngIf="contact.city">
                            <span class="table-text-custom">
                            <b>Ciudad: &nbsp;</b>
                              {{ contact.city }}
                            </span>
                  </div>

                  <div class="ui-g-12" *ngIf="contact.direccionText">
                            <span class="table-text-custom">
                              <b>Dirección: &nbsp;</b>
                              {{ contact.direccionText }}
                           </span>
                  </div>
                </ng-template>
              </div>
            </ng-template>
          </p-column>

          <p-column header="Acciones" [style]="{'width':'100px','text-align':'center'}">
            <ng-template let-contact="rowData" let-i="rowIndex" pTemplate="item">

              <i class="fa ui-icon-mode-edit icons" pTooltip="Editar" (click)="editContact(i)"
                 tooltipPosition="top"></i>

              <!--              <button type="button" icon="fa ui-icon-delete" pButton pTooltip="Eliminar" (click)="deleteContact(i)"-->
              <!--                      class="buttonContentTable" tooltipPosition="top"></button>-->

            </ng-template>
          </p-column>
        </p-dataTable>
        <!--        <div class="ui-g-12 md-inputfield">-->
        <!--          <div class="ui-message ui-messages-error" *ngIf="contacts.length === 0">-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
  </div>

  <form [formGroup]="form" novalidate name="formContacto" [hidden]="showContactForm !== true">

    <p-card header="Datos de contacto" class="my-card" [style]="{border: 'none'}">
      <!--      <h1>Datos de contacto</h1>-->
      <div class="ui-g ui-fluid">

        <div class="ui-sm-12 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
                <p-dropdown [options]="(tipoContacto$ | async | dropdownItem)" [autoDisplayFirst]="false"
                            [autoWidth]="false" formControlName="tipoContacto" [filter]="true"
                            (onChange)="validTypeAgent()"></p-dropdown>
                <label [ngClass]="{'ddfilled': form.get('tipoContacto').value != null}"><span *ngIf="!anonimo" class="text-danger">*</span>Tipo contacto</label>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!--Tipo Telefono-->
      <div class="ui-g ui-fluid">

        <!--Correo Electronico-->
        <div class="ui-sm-12 ui-g-6 ui-lg-6">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
                <input type="text" pInputText id="correoEle" emailOptional="" formControlName="correoEle"/>
                <label>Correo electronico</label>
              </span>
            </div>
          </div>
        </div>

        <!--Numero Telefono-->
        <div class="ui-sm-6 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
                            <span class="ui-float-label">
                <input type="text" pInputText id="numeroTel" formControlName="numeroTel" countryPhoneInput/>
              <label>N&deg;. de teléfono</label>
              </span>
            </div>
          </div>
        </div>

        <!--Numero Telefono-->
        <div class="ui-sm-6 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
                 <input type="text" pInputText id="celular" formControlName="celular" mobilePhoneInput/>
              <label>celular</label>
              </span>
            </div>
          </div>
        </div>

        <!--Pais-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput ">
              <span class="ui-float-label">
              <p-autoComplete #paisAutoComplete id="pais" [suggestions]="paisSuggestions$ | async" field="nombre"
                              formControlName="pais" (completeMethod)="onFilterPais($event)" [size]="30" [minLength]="1"
                              [dropdown]="true" (onDropdownClick)="onDropdownClickPais($event)"
                              [forceSelection]="true" fixForceSelect>
                                              </p-autoComplete>

              <label [ngClass]="{'ddfilled': form.get('pais').value != null}" for="pais">País</label></span>
            </div>
          </div>
        </div>

        <!--Departamento-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput ">
              <span class="ui-float-label">
              <p-autoComplete #departamentoAutoComplete id="departamento"
                              [suggestions]="departamentoSuggestions$ | async" field="nombre"
                              formControlName="departamento" [minLength]="1" [dropdown]="true"
                              (completeMethod)="onFilterDepartamento($event)"
                              (onDropdownClick)="onDropdownClickDepartamento($event)" [forceSelection]="true"
                              fixForceSelect>
                              </p-autoComplete>

              <label [ngClass]="{'ddfilled': form.get('departamento').value != null}" for="departamento">Departamento</label>
              </span>
            </div>
          </div>
        </div>

        <!--Municipio-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput ">
              <span class="ui-float-label">
              <p-autoComplete #municipioAutoComplete id="municipio" [suggestions]="municipioSuggestions$ | async"
                              field="nombre" formControlName="municipio" [minLength]="1"
                              [dropdown]="true"
                              (completeMethod)="onFilterMinicipio($event)" fixForceSelect [forceSelection]="true"
                              (onDropdownClick)="onDropdownClickMunicipio($event)">
                              </p-autoComplete>

              <label [ngClass]="{'ddfilled': form.get('municipio').value != null}" for="municipio">Municipio</label>
              </span>
            </div>
          </div>
        </div>

        <!--Provincia-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4" [hidden]="visibility.selectedColombia">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput ">
                            <span class="ui-float-label">
                 <input type="text" pInputText id="provinciaEstado" formControlName="provinciaEstado"/>
              <label>Provincia/Estado</label>
              </span>
            </div>
          </div>
        </div>

        <!--Estado/Ciudad-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4" [hidden]="visibility.selectedColombia">
          <div class="ui-g form-group">
            <div class="ui-g-12 ">
            </div>
            <div class="ui-g-12 divInput">
                            <span class="ui-float-label">
                 <input type="text" pInputText id="ciudad" formControlName="ciudad"/>
              <label>Ciudad</label>
             </span>
            </div>
          </div>
        </div>

        <!--Direccion-->
        <div class="ui-sm-12 ui-g-4 ui-lg-4" [hidden]="visibility.selectedColombia">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
                            <span class="ui-float-label">
                 <input type="text" pInputText id="direccionText" formControlName="direccionText"/>
              <label>Dirección</label>
              </span>
            </div>
          </div>
        </div>

      </div>
    </p-card>

    <p-card header="Datos dirección" class="my-card" [style]="{border: 'none'}" [hidden]="!showDireccionForm">
      <div class="ui-g ui-fluid">

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="tipoViaSuggestions$ | async | dropdownItem" id="tipoVia" formControlName="tipoVia"
                          [autoDisplayFirst]="false" [autoWidth]="false" [dynamicDisable]="!showDireccionForm" [filter]="true"
                          inputId="tipoVia" [showClear]="true">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('tipoVia').value != null}" for="tipoVia">Tipo Vía</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
                            <span class="ui-float-label">
              <input type="text" pInputText id="noViaPrincipal" formControlName="noViaPrincipal"
                     [dynamicDisable]="!showDireccionForm" (blur)="listenForBlurEvents('noViaPrincipal')">
              <label for="noViaPrincipal">No. Vía Principal</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="(prefijoCuadranteSuggestions$ | async) | orderBy:'nombre' |  dropdownItem"
                          id="prefijoCuadrante" formControlName="prefijoCuadrante" [autoDisplayFirst]="false"
                          [filter]="true" [autoWidth]="false" inputId="prefijoCuadrante" [showClear]="true">
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('prefijoCuadrante').value != null}" for="prefijoCuadrante">Prefijo cuadrante</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="bisSuggestons$ | async | dropdownItem" id="bis" formControlName="bis"
                          [autoDisplayFirst]="false" [filter]="true" [autoWidth]="false" inputId="bis"[showClear]="true">
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('bis').value != null}" for="bis">Bis</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="orientacionSuggestions$ | async | dropdownItem" id="orientacion"
                          formControlName="orientacion" [autoDisplayFirst]="false" [filter]="true" [autoWidth]="false"
                          inputId="orientacion" [showClear]="true">
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('orientacion').value != null}" for="orientacion">Orientación</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12 ">
            </div>
            <div class="ui-g-12 divInput">
                            <span class="ui-float-label">
                <input type="text" pInputText id="noVia" formControlName="noVia" [dynamicDisable]="!showDireccionForm"
                       (blur)="listenForBlurEvents('noVia')">
                <label for="noVia">No. Via</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="prefijoCuadranteSuggestions$ | async | orderBy:'nombre' | dropdownItem"
                          id="prefijoCuadrante_se" formControlName="prefijoCuadrante_se" [autoDisplayFirst]="false"
                          [filter]="true" [autoWidth]="false" inputId="prefijoCuadrante_se" [showClear]="true">
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('prefijoCuadrante_se').value != null}" for="prefijoCuadrante">Prefijo cuadrante</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
            <input type="text" pInputText id="placa" formControlName="placa" [dynamicDisable]="!showDireccionForm"
                   (blur)="listenForBlurEvents('placa')">
            <label for="placa"># Placa</label>
            </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="orientacionSuggestions$ | async | dropdownItem" id="orientacion_se"
                          formControlName="orientacion_se" [autoDisplayFirst]="false" [filter]="true"
                          [autoWidth]="false"
                          inputId="orientacion_se" [showClear]="true">
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('orientacion_se').value != null}" for="orientacion">Orientación</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="tipoComplementoSuggestions$ | async | dropdownItem" id="complementoTipo"
                          inputId="complementoTipo" [autoDisplayFirst]="false" formControlName="complementoTipo"
                          [filter]="true" [autoWidth]="false" [showClear]="true">
              </p-dropdown>
                              <label [ngClass]="{'ddfilled': form.get('complementoTipo').value != null}" for="orientacion">Tipo complemento</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
            <input type="text" pInputText id="complementoAdicional" formControlName="complementoAdicional"
                   (blur)="listenForBlurEvents('complementoAdicional')">
            <label for="placa">Complemento adicional</label>
            </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
            <input type="number" pInputText id="codigoPostal" formControlName="zipCode"
                   (blur)="listenForBlurEvents('zipCode')" min="0">
            <label for="placa">Código Postal</label>
            </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
          <div style="padding: 20px 0 0 10px">
            <p-checkbox name="cg" label="Principal" formControlName="principal" id="principal"
                        binary="true"></p-checkbox>
          </div>

        </div>
      </div>
    </p-card>
  </form>

  <div class="ui-g-12" *ngIf="showContactForm === true">
    <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">
      <div style="padding: 20px 0 0 10px">
        <p-checkbox name="cg" [hidden]="!showCheckDireccionForm" label="Agregar Dirección"
                    [(ngModel)]="showDireccionForm" binary="true" (onChange)="toggleDireccionForm($event)"></p-checkbox>
      </div>
    </div>

    <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6" style="text-align: right; padding-top: 20px">

      <button pButton type="button" [disabled]="form.invalid || isInvalidTypeAgent" label="Guardar" icon="pi pi-save"
              iconPos="left" (click)="save(); isActive = false" class="buttonMain"></button>
      <button pButton type="button" label="Cancelar" icon="pi pi-times" iconPos="left"
              (click)="isActive = false; form.reset();showContactForm = false; showDireccionForm = false; contactEditing = {}; isInvalidTypeAgent = false;"
              class="buttonSecundary"></button>

    </div>
  </div>

</div>
