<div class="ui-fluid ">
  <p-card class="my-card">
    <div class="page-title">
      <div class="ui-g">
        <div class="ui-sm-6 ui-g-6">
          <div class="ui-g-12">
            <h2 class="text-left page-title-primary">Mis asignaciones</h2>
            <hr class="hr-sub-title">
          </div>
        </div>
        <div class="ui-sm-6 ui-g-6" [formGroup]="form">
          <div class="ui-g-4"></div>
          <div class="ui-g-8">
            <div class="ui-g-10">
              <label for="filter"><span class="text-danger"></span></label><input (keydown.enter)="loadTasks()"
                                                 style="font-size: 15px;margin-top: 6px;"
                                                 placeholder="Ingrese un criterio de búsqueda" type="text" pInputText
                                                 id="filter"
                                                 formControlName="filter">
            </div>
            <div class="ui-g-1">
              <i class="fa ui-icon-clear" style="font-size: 30px;margin-top: 3px;color: #005c90;"
                 pTooltip="Limpiar"
                 tooltipPosition="top" (click)="clear()"></i>
            </div>
            <div class="ui-g-1">
              <i class="pi pi-search" style="font-size: 26px;margin-top: 3px;color: #005c90;"
                 pTooltip="Buscar"
                 tooltipPosition="top" (click)="loadTasks()"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>

<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <p-dataTable [value]="(tasks$ | async)" selectionMode="single" [(selection)]="selectedTask" [lazy]="true"
                 [paginator]="true" [rows]="pageSize" [responsive]="true" [totalRecords]="(totalRecords$ | async)"
                 (onLazyLoad)="loadTaskPage($event)"
                 emptyMessage="No se encontraron resultados">
      <p-column [sortable]="true" field="tiempoActivacion" header="Fecha de Asignación" [style]="{'width':'150px'}">
        <ng-template let-task="rowData" pTemplate="item">
          {{task.tiempoActivacion}}
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="descripcion" header="Tarea" [style]="{'width':'150px'}">
        <ng-template pTemplate="body" let-row="rowData">
          <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12">
            <div class="ui-g-12">
              <i *ngIf="row?.variables?.fechaVencimiento && row.variables.fechaVencimiento != '1m' && row?.variables?.fechaVencimiento != '1'"
                 class="fa ui-icon-check-circle" [escape]="false" tooltipPosition="top"
                 [pTooltip]="getFechaVencimiento(row)" [ngClass]="getStatusTrackIcon(row)"></i>
              <span class="table-text-custom-secundary">
                        {{row.descripcion}}
                      </span>
            </div>
          </div>
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="asuntoTarea" header="Asunto" [style]="{'width':'200px'}">
        <ng-template let-task="rowData" pTemplate="item">
          {{task.variables.asuntoTarea}}
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="depAsignador" header="Dependencia" [style]="{'width':'150px'}">
        <ng-template let-task="rowData" pTemplate="item">
          {{task.variables.depAsignador}}
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="userAsignador" header="Usuario" [style]="{'width':'110px'}">
        <ng-template let-task="rowData" pTemplate="item">
          {{task.variables.userAsignador}}
        </ng-template>
      </p-column>
      <p-column [sortable]="true" field="status" header="Estado" [style]="{'width':'110px'}">
        <ng-template let-task="rowData" pTemplate="item">
          {{task.variables.estadoConsulta}}
        </ng-template>
      </p-column>
      <p-column header="Acciones" [style]="{'width':'110px','text-align':'center'}">
        <ng-template let-task="rowData" pTemplate="item">
          <i class="fa ui-icon-exit-to-app icons" pTooltip="Iniciar" tooltipPosition="top"
             (click)="iniciarTarea(task)"></i>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>

