<div class="ui-g ui-fluid">
  <p-dataTable [value]="(planillas$ | async)" [(selection)]="planillasSeleccionadas" selectionMode="multiple"
               [paginator]="true" [rows]="5" [responsive]="true"
               emptyMessage="No se encontraron resultados" [scrollable]="true">
    <p-column [style]="{'width':'38px'}" selectionMode="multiple" styleClass="col-icon"></p-column>
    <p-column field="formNumber" header="Número de planilla"></p-column>
    <p-column  header="Fecha de generación">
      <ng-template let-col let-planilla="rowData" pTemplate="body">
        {{planilla?.creationDate | date:'dd/MM/yyyy'}} {{planilla?.creationDate | date:'mediumTime'}}
      </ng-template>
    </p-column>
    <p-column field="sede" header="Dependencia jerarquica"></p-column>
    <p-column field="dependencia" header="Dependencia"></p-column>
  </p-dataTable>
</div>
