<button pButton type="button" *ngIf="showOpenDialogButton"
        class="ui-button-primary"
        (click)="showLocationDialog()"
        label="Seleccionar posición de etiqueta">
</button>
<p-dialog [(visible)]="locationDialogVisibility"
          (onHide)="hideLocationDialog()"
          [responsive]="true" [contentStyle]="{'overflow':'visible','max-height':'300px', 'max-width':'300px'}"
>
  <div class="ui-g" *ngFor="let location of ticketLocations; let i = index">
    <div class="ui-g-6 ui-sm-6 ui-md-6" *ngIf="i%2 == 0">
      <div class="ui-g-12">
        <p-checkbox name="ticketLocation"
                    [value]="i" [(ngModel)]="selectedLocations"
                    (onChange)="handleChangeSelectedLocations()"
        ></p-checkbox>
      </div>
    </div>
    <div class="ui-g-6 ui-sm-6 ui-md-6 " *ngIf="i%2 == 0">
      <div class="ui-g-12">
        <p-checkbox name="ticketLocation"
                    [value]="(i + 1)" [(ngModel)]="selectedLocations"
                    (onChange)="handleChangeSelectedLocations()"
        >
        </p-checkbox>
      </div>
    </div>
  </div>
  <p-footer>
    <button pButton type="button" class="ui-button-primary"
            [printelement]="printelement" printDirective
            [customLocationStyle]="selectedTicketLocation.location"
            *ngIf="showPrintButton"
            [inlineStyles]="inlineStyles" label="Imprimir">
    </button>
    <button pButton type="button" class="ui-button-primary"
            *ngIf="showSaveButton"
            (click)="hideLocationDialog()"
            label="Guardar"
    >
    </button>
  </p-footer>
</p-dialog>

