<div class="ui-fluid">
  <p-card class="my-card">
    <div class="ui-g">
      <div class="ui-sm-12 ui-g-6">
        <div class="ui-g-12">
          <h2 class="text-left page-title-primary">Datos para el envío del proceso</h2>
          <hr class="hr-sub-title">
        </div>
      </div>
      <div class="ui-sm-12 ui-g-6 text-right">
        <button class="buttonMain" icon="pi pi-save" iconPos="left" label="Generar"
                pButton type="button" (click)="generateIndex()" [disabled]="formGenerate.invalid">
        </button>
      </div>
    </div>
  </p-card>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12 text-right">
            <fa-icon class="iconsGrayFA" [icon]="faTachometerAlt"></fa-icon>
            <label>IPM: {{ipm}}</label>
          </div>
          <div [formGroup]="formGenerate" class="ui-sm-6 ui-g-6 ui-lg-6 ui-md-6">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="guid" id="guid" pInputText type="text" maxlength="100">
                <label><span class="text-danger">*</span>GUID del expediente</label>
              </span>
              </div>
            </div>
          </div>
          <div class="ui-sm-1 ui-g-1 ui-lg-1 ui-md-1">
            <div class="ui-g form-group">
              <div class="ui-g-2">
              </div>
              <div class="ui-g-12">
                <i class="icons fa ui-icon-close icons" pTooltip="Limpiar datos" tooltipPosition="top"
                   (click)="cleanForm()"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



