<div id="ticket-rad" class="ticket-panel tipoLetra" style="display: table; word-break: break-all;">
  <p style="text-transform: uppercase;margin:-4px 0 4px ;">PERSONERÍA DE BOGOTÁ D.C</p>
  <div style="margin-top: -5px">
    <ngx-barcode [bc-height]="31" [bc-format]="'CODE128B'" [bc-value]="noRadicado | niceNoRadicado" [bc-width] = "3"
                 [bc-margin-left]="0" [bc-margin-bottom]="0" [bc-margin-right]="0" [bc-margin-top]="0" [bc-text-margin]="0" [bc-text-align]="0"
                 style="margin: 0 auto">
    </ngx-barcode>
  </div>
  <div style="margin-top: -5px">
    <div class="ui-g-12 row-container padding-container"  style="text-align: left">
      <div class="ui-g-8 ui-lg-8 ui-sm-8"><strong>N&deg;. Radicado :</strong> {{noRadicado | niceNoRadicado}} </div>
      <div class="ui-g-4 ui-lg-4 ui-sm-4"><strong>Folios: </strong> {{folios}}</div>

    </div>
    <div class="ui-g-12 row-container padding-container" style="text-align: left">
      <div class="ui-g-8 ui-lg-8 ui-sm-8"> <strong>Fecha:</strong> {{fecha | date:'dd/MM/yyyy '}} {{fecha | date:'mediumTime'}}</div>
      <div class="ui-g-4 ui-lg-4 ui-sm-4"><strong>Anexos: </strong> {{anexos}}</div>
    </div>

    <div class="row-container" *ngIf="tipoComunicacion == 'EE'" >
      <div class="ui-g-12" style="overflow: hidden;text-align: left"> <strong>Destino:</strong> {{destinatarioGrupo}}-{{abreviatura}} </div>
    </div>
    <div class="row-container" *ngIf="tipoComunicacion == 'EE'">
      <div class="ui-g-12" style="overflow: hidden;text-align: left"> <strong>Origen:</strong> {{remitente}} </div>
    </div>
    <div class="row-container" *ngIf="tipoComunicacion != 'EE'">
      <div class="ui-g-12" style="overflow: hidden;text-align: left"> <strong>Destino:</strong> {{remitente}} </div>
    </div>
    <div class="row-container" *ngIf="tipoComunicacion != 'EE'">
      <div class="ui-g-12" style="overflow: hidden;text-align: left"> <strong>Origen:</strong> {{destinatarioGrupo}}-{{abreviatura}} </div>
    </div>
    <div class="row-container" >
      <div class="ui-g-12" style="overflow: hidden;text-align: left"> <strong>Asunto:</strong> {{asunto}} </div>
    </div>
  </div>
</div>


