.ticket-body {
  background: top left no-repeat #f7f7f7;
  background-size: 100% auto;
  height: auto;
}

.ticket-panel {
  text-align: center;
  width: 520px;
  max-height: 230px;
  font-size: 13px;
  overflow: hidden;
}

.ticket-panel .row-container {
  display: table;
  width: 100%;
  position: relative;
  clear: both;
}

.ticket-panel .row-container [class^=ui-g] {
  margin: 0;
  padding: 0;
}

.ticket-panel .ui-g .ui-g-12 {
  padding: 25px 40px;
}

.ticket-panel .ui-g .ui-g-12 .ui-button {
  margin-bottom: 20px;
}

.ticket-footer {
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: #757575;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.clear {
  clear: both;
}

@media print {
  body {
    font-family: monospace;
    font-size: 8pt;
    /*zoom: .6;*/
    color: #333333;
  }

  .ticket-panel {
    font-size: 20px;
  }

  #ticket-rad {
    float: right;
    padding: 8px;
    border: 1pt dashed black;
  }

  @page {
    size: carta !important;
    margin-top: 0.3cm;
    margin-bottom: 0.3cm;
    margin-left: .3cm;
    margin-right: .3cm;
  }
}

.tipoLetra{
  font-family: monospace;
}

/*# sourceMappingURL=ticket-radicado.component.css.map */
