<h1 mat-dialog-title>Vista previa</h1>
<div mat-dialog-content>
    <ngx-extended-pdf-viewer
    class="pdfviewer"
    [base64Src]="documentPreviewUrl" 
    backgroundColor="#ffffff"
    [height]="'90vh'"
    [useBrowserLocale]="true"
    [handTool]="false"
    [showHandToolButton]="true"
    >
    </ngx-extended-pdf-viewer>
</div>
<mat-dialog-actions align="end"> 
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button label="Cerrar"  pButton style="width: auto; margin-bottom: 10px;margin-left: 12px" mat-dialog-close></button>
              </div>
 
  </mat-dialog-actions>