<div class="layout-wrapper layout-compact">
  <div #layoutContainer class="layout-container"
       [ngClass]="{
            'menu-layout-static': !isOverlay(),
            'menu-layout-overlay': isOverlay(),
            'layout-menu-overlay-active': overlayMenuActive,
            'menu-layout-horizontal': isHorizontal(),
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive
        }">

    <div class="layout-menu" [ngClass]="{'layout-menu-dark': darkMenu}" (click)="onMenuClick($event)">
      <div #layoutMenuScroller class="nano">
        <div class="nano-content menu-scroll-content">
          <!-- <inline-profile (onSecurityRole)="routeToSecurityRole()" (onSignOffUser)="signOff()" *ngIf="profileMode=='inline' && !isHorizontal()" [username]="usernameAuth$ | async"></inline-profile> -->
          <!--<app-menu [reset]="resetMenu" [model]="(menuOptions$ | async)"></app-menu>-->

          <div style="position: relative">
            <div *ngIf="!menuIsVisible" class="ui-widget-overlay ui-dialog-mask"
                 style="z-index: 2; width: 100%; height:100%;position: absolute; "></div>
            <app-menu [reset]="resetMenu"
                      [model]="menuOptions"

            ></app-menu>


          </div>
        </div>
      </div>
    </div>
    <div class="layout-main">
      <app-topbar
        [isAuthenticated]="(isAuthenticated$ | async)"
        [dependencias]="funcionarioDependenciaSuggestions$ | async"
        [dependenciaSelected]="funcionarioDependenciaSelected$ | async"
        (onSelectDependencia)="onFuncionarioDependenciaChange($event)"
      ></app-topbar>

      <!--      <div class="divMain" style="overflow: auto;height: 640px" >-->
      <div class="divMain">
        <router-outlet></router-outlet>
        <app-footer></app-footer>

        <br><br>
      </div>
    </div>

    <div class="layout-mask"></div>
  </div>

</div>
