<p-panel header="Datos destinatario" class="my-panel" [style]="{ border: 'none'}">
  <!--  <p-panel header="Datos destinatario" [toggleable]="true" [style]="{'margin-bottom':'20px'}">-->
  <div class="divPanel">
    <form [formGroup]="form">
      <div class="ui-g ui-fluid">
        <div class="ui-sm-12 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="tipoDestinatarioInput | dropdownItem"
                          [ngModel]="tipoDestinatarioDefaultInput"
                          id="tipoDestinatario"
                          formControlName="tipoDestinatario"
                          [autoDisplayFirst]="false"
                          [filter]="true"
                          [autoWidth]="false">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('tipoDestinatario').value != null}" for="tipoDestinatario"><span class="text-danger">*</span>Tipo destinatario</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="sedeAdministrativaInput | dropdownItem"
                          id="sedeAdministrativa"
                          formControlName="sedeAdministrativa"
                          [autoDisplayFirst]="false"
                          [filter]="true"
                          [autoWidth]="false">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('sedeAdministrativa').value != null}" for="sedeAdministrativa"><span class="text-danger">*</span>Dependencia Jerárquica</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-g-4 ui-lg-4">
          <div class="ui-g form-group">
            <div class="ui-g-12">
            </div>
            <div class="ui-g-12 divInput">
              <span class="ui-float-label">
              <p-dropdown [options]="dependenciaGrupoInput | dropdownItem"
                          id="dependenciaGrupo"
                          formControlName="dependenciaGrupo"
                          [autoDisplayFirst]="false"
                          [filter]="true"
                          [autoWidth]="false">
              </p-dropdown>
              <label [ngClass]="{'ddfilled': form.get('dependenciaGrupo').value != null}" for="dependenciaGrupo"><span class="text-danger">*</span>Dependencia Productora</label>
              </span>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-md-12 ui-g-12 ui-lg-12" style="text-align: right; padding-top: 20px">
          <button pButton type="button" label="Agregar" class="buttonMain" icon="pi pi-plus" iconPos="left"
                  (click)="addAgentesDestinatario()" [disabled]="!canInsert">
          </button>
        </div>

        <div class="ui-g-12 divTable">
          <p-dataTable [value]="agentesDestinatario" selectionMode="single" [(selection)]="selectedagenteDestinatario"
                       [scrollable]="true"
                       [paginator]="true" [rows]="10" [responsive]="true" emptyMessage="No se encontraron resultados">
            <p-header>
              <div class="ui-helper-clearfix">
                <div class="ui-g">
                  <div class="ui-g-12 ui-md-10 headerTable">
                    Destinatarios
                  </div>
                </div>
              </div>
            </p-header>
            <p-column field="tipoDestinatario.nombre" header="Tipo destinatario" [sortable]="true"
                      [style]="{'width':'120px'}"></p-column>
            <p-column field="sedeAdministrativa.nombre" header="Dependencia Jerárquica" [sortable]="true"
                      [style]="{'width':'120px'}"></p-column>
            <p-column field="dependenciaGrupo.nombre" header="Dependencia Productora" [sortable]="true"
                      [style]="{'width':'120px'}"></p-column>
            <p-column header="Acciones" [style]="{'width':'120px','text-align':'center'}" *ngIf="editable === true">
              <ng-template let-i="rowIndex" pTemplate="item">
                <i class="fa ui-icon-delete icons" pTooltip="Eliminar"
                        (click)="deleteAgentesDestinatario(i)"
                         tooltipPosition="top"></i>
              </ng-template>
            </p-column>
          </p-dataTable>

<!--          <div class="ui-g-12 md-inputfield">-->
<!--            <div class="ui-message ui-messages-error"-->
<!--                 *ngIf="agentesDestinatario?.length === 0">-->
<!--              Se debe registrar un destinatario principal de forma obligatoria-->
<!--            </div>-->
<!--          </div>-->

        </div>
      </div>
    </form>
  </div>
</p-panel>
