<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div [formGroup]="formUpdate" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" [ngClass]="{'requerid': objectStore }">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <p-dropdown [editable]="false" [autoDisplayFirst]="true"
                          [filter]="true" [resetFilterOnHide]="true"
                          [autoWidth]="false" formControlName="objectStore"
                          id="objectStore" [options]="objectStoreList"></p-dropdown>
                <label [ngClass]="{'ddfilled': formUpdate.get('objectStore').value != null}" for="objectStore">Object Store</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formUpdate" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3" [ngClass]="{'requerid': codSerie }">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSerie" id="codSerie" pInputText type="text" maxlength="20">
                <label><span class="text-danger">*</span>Código serie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formUpdate" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSubSerie" id="codSubSerie" pInputText type="text" maxlength="20">
                <label>Código subserie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="formUpdate" class="ui-sm-3 ui-g-3 ui-lg-3 ui-md-3">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codDependencia" id="codDependencia" pInputText type="text" maxlength="50">
                <label>Código dependencia productora</label>
              </span>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12 text-right">
          <button class="buttonMain" icon="pi pi-save" iconPos="left" label="Actualizar"
                  pButton type="button" (click)="updateException()" [disabled]="formUpdate.invalid">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


