<div class="ui-fluid">
    <div class="ui-g">
      <div class="ui-sm-12 ui-g-12">
        <div class="ui-sm-5 ui-g-5 text-left" [formGroup]="formHorario">
          <label><span class="text-danger">*</span>Desde</label>
          <p-dropdown [options]="start" [editable]="false" [(ngModel)]="strartExecute" appendTo="body"
                      [filter]="true" formControlName="strartExecute" id="strartExecute" (onChange)="changeEnd($event)"
                      [autoWidth]="false" [autoDisplayFirst]="true"></p-dropdown>
        </div>
        <div class="ui-sm-2 ui-g-2"></div>
        <div class="ui-sm-5 ui-g-5 text-left" [formGroup]="formHorario">
          <label><span class="text-danger">*</span>Hasta</label>
          <p-dropdown [options]="end"  [editable]="false" [(ngModel)]="endExecute" appendTo="body"
                      [filter]="true" formControlName="endExecute" id="endExecute" (onChange)="changeStart($event)"
                      [autoWidth]="false" [autoDisplayFirst]="true"></p-dropdown>
        </div>
      </div>
      <div class="ui-sm-12 ui-g-12 text-right">
        <button class="buttonMain" icon="pi pi-save" iconPos="left" label="Actualizar"
                pButton type="button" (click)="updateExecuteData()" [disabled]="invalidDate">
        </button>
      </div>
    </div>
</div>
