<div [formGroup]="form">
  <ng-content select="[before]"></ng-content>
  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
        <span class="ui-float-label">
        <p-dropdown [autoWidth]="false" [options]="(bodegaObservable$ | async)" formControlName="bodega"
                    optionLabel="nombre" [autoDisplayFirst]="false" [filter]="true"
                    (onChange)="selectHandler($event,'bodega')"></p-dropdown>
        <label [ngClass]="{'ddfilled': form.get('bodega').value != null}" >Bodega</label>
        </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
        <span class="ui-float-label">
        <p-dropdown [autoWidth]="false" [options]="piso" optionLabel="nombre"
                    [autoDisplayFirst]="false" formControlName="piso" [filter]="true"
                    (onChange)="selectHandler($event,'piso')"></p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('piso').value != null}">Piso</label>
        </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-4 ui-lg-4" *ngIf="visibility.estante">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
        <span class="ui-float-label">
        <p-dropdown [autoWidth]="false" [options]="estante " optionLabel="nombre"
                    [autoDisplayFirst]="false" formControlName="estante" [filter]="true"
                    (onChange)="selectHandler($event,'estante')"></p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('estante').value != null}">Estante</label>
        </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-4 ui-lg-4" *ngIf="visibility.seccion">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
        <span class="ui-float-label">
        <p-dropdown [autoWidth]="false" [options]="seccion" optionLabel="nombre"
                    formControlName="seccion" [autoDisplayFirst]="false" [filter]="true"
                    (onChange)="selectHandler($event,'seccion')"
        ></p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('seccion').value != null}">Entrepaño</label>
        </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-4 ui-lg-4" *ngIf="visibility.caja">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
        <span class="ui-float-label">
        <p-dropdown [autoWidth]="false" [options]="caja" optionLabel="nombre"
                    [autoDisplayFirst]="false" formControlName="caja" [filter]="true"
                    (onChange)="selectHandler($event,'caja')"></p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('caja').value != null}">Caja</label>
        </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
        <span class="ui-float-label">
        <p-dropdown [autoWidth]="false" [options]="carpeta" optionLabel="nombre" [filter]="true"
                    formControlName="carpeta" [autoDisplayFirst]="false"></p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('carpeta').value != null}">Carpeta</label>
        </span>
        </div>
      </div>
    </div>
  </div>
  <ng-content select="[after]"></ng-content>
</div>
