<form [formGroup]="form" name="formDefault" class="comunicacion-detalles">
  <div class="ui-g ui-fluid">

    <ng-content select="[before]"></ng-content>
    <div class="ui-sm-12 ui-g-6 ui-lg-6">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <label for="estadoEntrega"><span class="text-danger">*</span>Estado de entrega</label>
        </div>
        <div class="ui-g-12 md-dropdownfield">
          <p-dropdown [options]="estadoEntregaSuggestions | async|dropdownItem"
                      id="estadoEntrega"
                      formControlName="estadoEntrega"
                      placeholder="Seleccione"
                      [filter]="true"
                      [autoWidth]="false">
          </p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-6 ui-lg-6">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <label for="fechaEntrega">Fecha</label>
        </div>
        <div class="ui-g-12">
          <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" formControlName="fechaEntrega" [showTime]="true"
                      [showSeconds]="true"
                      id="fechaEntrega" [maxDate]="maxDateValue" [icon]="iconCalendar"></p-calendar>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <label for="observaciones"><span class="text-danger">*</span>Observaciones</label>
        </div>
        <div class="ui-g-12 md-inputfield">
          <textarea pInputTextarea [style.height]="'125px'" id="observaciones"
                    formControlName="observaciones"></textarea>
        </div>
      </div>
    </div>
    <ng-content select="[after]"></ng-content>
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 md-dropdownfield">
          <button pButton type="button" class="ui-button-primary"
                  label="Cerrar" (click)="hideEditarPlanillaDialog()"
                  style="width:auto;margin-left:5px;margin-top:20px;float:right;">
          </button>
          <button pButton type="button" class="ui-button-primary"
                  style="width:auto;margin-left:5px;margin-top:20px;float:right;" [disabled]="!form.valid"
                  label="Aceptar" (click)="editarPlanilla()">
          </button>
        </div>
      </div>
    </div>
  </div>

</form>
