<p-sidebar [(visible)]="mostrar" position="right" [baseZIndex]="10000" [showCloseIcon]="false">
  <p-scrollPanel [style]="{width: '100%', height: '100%', border: 'unset'}">
    <div class="ui-fluid">
      <div class="ui-g">
        <div class="ui-g-12">
          <h2>En progreso</h2>
          <hr class="lineaSeparadorSidebar">
          <div class="wrapper" *ngFor="let dato of (progreso); let index = index">
            <ul class="StepProgress" [ngSwitch]="dato.trackState.process">
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Correspondencia entrada'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Correspondencia interna'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Correspondencia salida'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Anulación radicados'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Digitalización'">scanner</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Disposición final'">info</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Gestión de unidades documentales (expedientes)'">assignment_late</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Instrumentos Archivísticos'">post_add</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Mgaf - almacenamiento'">save_alt</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Mgaf - cargue inventario'">save_alt</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Mgaf - prestamo'">save_alt</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Mgaf - vinculaciones'">save_alt</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Organización y archivo'">archive</i>
              <i class="material-icons iconaSidebar" *ngIf="dato.trackState.process == 'Organización y archivo- conectado'&& dato.trackState.state != 'archivado'">archive</i>
              <i class="material-icons iconaSidebar" *ngIf="dato.trackState.process == 'Organización y archivo- conectado'&& dato.trackState.state == 'archivado'">done</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Organización y archivo- demanda'">archive</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Planillas de entrada'">insert_photo</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Planillas de salida'">insert_photo</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Producción documental'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Trámite de documentos'">assignment</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Transferencias documentales'">transform</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Transferencias documentales primarias'">transform</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Transferencias documentales secundaria'">transform</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Firmar Documento'">create</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Gestionar devoluciones'">reply</i>
              <li class="StepProgress-item" style="font-size: 15px; color: #0f8ea8; margin-top: 15px;">
                {{dato.user }} ({{dato.trackState.role}})
              </li>
              <li style="color: #0f8ea8">{{dato.subsectionObject | titlecase}}</li>
              <li>{{dato.trackState.activity}}</li>
              <li *ngIf="getState(dato.trackState.state)!=null">{{ getState(dato.trackState.state) || "Sin iniciar"}}</li>

              <li>{{getTrack(dato)}}</li>
              <li style="margin-top: 20px">{{dato.endDate | date:'EEEE, d MMMM y, h:mm a'}}</li>
            </ul>
          </div>
        </div>
        <div class="ui-g-12">
          <h2>Histórico</h2>
          <hr class="lineaSeparadorSidebar">
          <div class="wrapper" *ngFor="let dato of (historico); let index = index">
            <ul class="StepProgress" [ngSwitch]="dato.trackState.process">
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Correspondencia entrada'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Correspondencia interna'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Correspondencia salida'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Anulación radicados'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Digitalización'">scanner</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Disposición final'">info</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Gestión de unidades documentales (expedientes)'">assignment_late</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Instrumentos Archivísticos'">post_add</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Mgaf - almacenamiento'">save_alt</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Mgaf - cargue inventario'">save_alt</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Mgaf - prestamo'">save_alt</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Mgaf - vinculaciones'">save_alt</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Organización y archivo'">archive</i>
              <i class="material-icons iconaSidebar" *ngIf="dato.trackState.process == 'Organización y archivo- conectado'&& dato.trackState.state != 'archivado'">archive</i>
              <i class="material-icons iconaSidebar" *ngIf="dato.trackState.process == 'Organización y archivo- conectado'&& dato.trackState.state == 'archivado'">done</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Organización y archivo- demanda'">archive</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Planillas de entrada'">insert_photo</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Planillas de salida'">insert_photo</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Producción documental'">person</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Trámite de documentos'">assignment</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Transferencias documentales'">transform</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Transferencias documentales primarias'">transform</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Transferencias documentales secundaria'">transform</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Firmar Documento'">create</i>
              <i class="material-icons iconaSidebar" *ngSwitchCase="'Gestionar devoluciones'">reply</i>
              <li class="StepProgress-item" style="font-size: 15px; color: #0f8ea8; margin-top: 15px;">
                {{dato.user }} ({{dato.trackState.role}})
              </li>
              <li style="color: #0f8ea8">{{dato.subsectionObject | titlecase}}</li>
              <li>{{dato.trackState.activity}}</li>
              <li *ngIf="getState(dato.trackState.state)!=null">{{ getState(dato.trackState.state) || "Sin iniciar"}}</li>

              <li>{{getTrack(dato)}}</li>
              <li style="margin-top: 20px">{{dato.endDate | date:'EEEE, d MMMM y, h:mm a'}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </p-scrollPanel>
</p-sidebar>
