.wrapper {
  font-size: 14px;
}

.StepProgress {
  position: relative;
  padding-left: 40px;
  list-style: none;
  padding-top: 3px;

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 56px;
    left: 15px;
    width: 10px;
    height: 69%;
    border-left: 2px solid #CCC;
  }

  &-item {
    position: relative;
    counter-increment: list;

    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      left: -49px;
      height: 100%;
      width: 10px;
    }

    &::after {
      display: inline-block;
      position: absolute;
      top: 0;
      left: -37px;
      width: 12px;
      height: 12px;
      background-color: #FFF;
    }

    &.is-done {
      &::before {
      }
      &::after {
        font-size: 10px;
        color: #FFF;
        text-align: center;
      }
    }

    &.current {
      &::before {
      }

      &::after {
        display: inline-block;
        content: '';
        position: absolute;
        top: 58px;
        left: 15px;
        width: 10px;
        height: 65%;
        border-left: 2px solid #CCC;
      }
    }
  }

  strong {
    display: block;
  }
}

.iconaSidebar{
  width: 22px !important;
  height: 26px !important;
  margin-left: -46px;
  margin-top: 8px !important;
  float: left !important;
  color: gray !important;
  display: inline-block !important;
  font-size: 46px;
}

.lineaSeparadorSidebar{
  height: 1px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: gray;
  margin-top: -8px;
}
