<form [formGroup]="form" name="formDefault">

  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-6 ui-lg-6">
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
          <p-dropdown [options]="causalesDevolicion$ | dropdownItem"
                      id="causalDevolucion"
                      formControlName="causalDevolucion"
                      [autoDisplayFirst]="false"
                      [filter]="true"
                      [autoWidth]="false"
                      (onBlur)="listenForBlurEvents('causalDevolucion')">
          </p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('causalDevolucion').value != null}" for="causalDevolucion"><span class="text-danger">*</span>Causal devolución</label>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
          <textarea pInputTextarea [style.height]="'70px'" id="observacion" [autoResize]="false" [rows]="4" [style.resize]="'none'"
                    formControlName="observacion" (blur)="listenForBlurEvents('observacion')"></textarea>
          <label class="float-textarea" for="observacion"><span class="text-danger">*</span>Observación</label>
          </span>
        </div>
      </div>
    </div>
  </div>
</form>
