<div *ngIf="isLoadingToolbox">
  <div class="card login-panel ui-fluid" *ngIf="!(isAuthenticated$ | async)">
    <div class="ui-g">
      <div class="ui-g-12">
        <img src="{{baseUrl}}/assets/layout/images/logo.png">
      </div>
      <form *ngIf="!(loading$ | async)" (ngSubmit)="signIn()" [formGroup]="form" novalidate>

        <div class="ui-g-12">
          <span class="ui-float-label">
                <input formControlName="username" pInputText type="text" autocomplete="off" autocorrect="off"
                       autocapitalize="off" spellcheck="off">
                <label>Usuario</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="ui-float-label">
                <input formControlName="password" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" (keyup.enter)="signIn()" pInputText>
                <label>Contraseña</label>
          </span>
        </div>
        <div class="ui-g-12">
          <button [disabled]="form.invalid" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" (click)="signIn()">
            <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
            <span class="ui-button-text ui-c">Entrar</span>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
