<form [formGroup]="form" name="formDefault">

  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
            <span class="ui-float-label">
          <textarea pInputTextarea id="justificacion" [rows]="3" formControlName="justificacion" [style.height]="'60px'"
                    (blur)="listenForBlurEvents('justificacion')" [autoResize]="false" [style.resize]="'none'"></textarea>
                        <label class="float-textarea" for="justificacion"><span class="text-danger">*</span>Justificación</label>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-6 ui-lg-6">
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
          <p-dropdown [options]="sedeAdministrativaSuggestions$ | async | dropdownItemSingle"
                      id="sedeAdministrativa"
                      formControlName="sedeAdministrativa"
                      appendTo="body"
                      [editable]="false" [autoDisplayFirst]="false"
                      [filter]="true" [resetFilterOnHide]="true"
                      [autoWidth]="false"
                      (onBlur)="listenForBlurEvents('sedeAdministrativa')">
          </p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('sedeAdministrativa').value != null}" for="sedeAdministrativa"><span
            class="text-danger">*</span>Dependencia Jerárquica</label>
          </span>
        </div>
      </div>
    </div>

    <div class="ui-sm-12 ui-g-6 ui-lg-6">
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
          <p-dropdown [options]="dependenciaGrupoSuggestions$ | async |dropdownItemSingle"
                      appendTo="body" [resetFilterOnHide]="true"
                      id="dependenciaGrupo" formControlName="dependenciaGrupo" [filter]="true"
                      [autoDisplayFirst]="false" [autoWidth]="false" [editable]="false"
                      (onBlur)="listenForBlurEvents('dependenciaGrupo')">
          </p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('dependenciaGrupo').value != null}" for="dependenciaGrupo"><span
            class="text-danger">*</span>Dependencia Productora</label>
            </span>
        </div>
      </div>
    </div>
  </div>
</form>
