<form [formGroup]="form" name="formDefault">

  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
            <span class="ui-float-label">
          <textarea pInputTextarea id="justificacion" [rows]="3" formControlName="justificacion" [style.height]="'60px'"
                    (blur)="listenForBlurEvents('justificacion')" [autoResize]="false" [style.resize]="'none'"></textarea>
                        <label class="float-textarea" for="justificacion"><span class="text-danger">*</span>Justificación</label>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-4 ui-lg-4" >
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
          <p-dropdown [options]="tiposComunicaciones"
                      [ngModel]="tipoComunicacion"
                      id="tipoComunicacion"
                      formControlName="tipoComunicacion"
                      [autoDisplayFirst]="true"
                      [filter]="true"
                      [autoWidth]="false"
                      (onBlur)="listenForBlurEvents('tipoComunicacion')">
          </p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('tipoComunicacion').value != null}" for="tipoComunicacion"><span
            class="text-danger">*</span>Tipo Destinatario</label>
          </span>
        </div>
      </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
          <p-dropdown [options]="sedeAdministrativaSuggestions$ | async | dropdownItemSingle"
                      id="sedeAdministrativa"
                      formControlName="sedeAdministrativa"
                      appendTo="body"
                      [editable]="false" [autoDisplayFirst]="false"
                      [filter]="true" [resetFilterOnHide]="true"
                      [autoWidth]="false"
                      (onBlur)="listenForBlurEvents('sedeAdministrativa')">
          </p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('sedeAdministrativa').value != null}" for="sedeAdministrativa"><span
            class="text-danger">*</span>Dependencia Jerárquica</label>
          </span>
        </div>
      </div>
    </div>

    <div class="ui-sm-12 ui-g-4 ui-lg-4">
      <div class="ui-g form-group">
        <div class="ui-g-12 divInput">
          <span class="ui-float-label">
          <p-dropdown [options]="dependenciaGrupoSuggestions$ | async | dropdownItemSingle"
                      appendTo="body" [resetFilterOnHide]="true"
                      id="dependenciaGrupo" formControlName="dependenciaGrupo" [filter]="true"
                      [autoDisplayFirst]="false" [autoWidth]="false" [editable]="false"
                      (onBlur)="listenForBlurEvents('dependenciaGrupo')">
          </p-dropdown>
          <label [ngClass]="{'ddfilled': form.get('dependenciaGrupo').value != null}" for="dependenciaGrupo"><span
            class="text-danger">*</span>Dependencia Productora</label>
            </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-10 ui-lg-10"></div>
    <div class="ui-sm-12 ui-g-2 ui-lg-2" >
      <button pButton type="button" class="buttonMain" [disabled]="form.invalid"
              label="Agregar" (click)="agregar()" icon="pi pi-check" iconPos="left"></button>
    </div>
    <div class="ui-g ui-fluid divTable">
      <div class="ui-g-12">
        <p-dataTable emptyMessage="No se encontraron resultados" [scrollable]="true" [paginator]="true"
                     [rows]="10" [responsive]="true" [(value)]="tabla">
          <p-column field="justificacion" header="Justificación" [sortable]="true"
                    [style]="{'width':'120px'}">
          </p-column>
          <p-column header="Tipo Destinatario" field="originalInd" [style]="{'width':'120px'}"
                    [sortable]="true">
            <ng-template let-data="rowData" pTemplate="item">
              {{ tipo(data.originalInd) }}
            </ng-template>
          </p-column>
          <p-column header="Dependencia Jerargica" field="shippingType" [style]="{'width':'120px'}"
                    [sortable]="true">
            <ng-template let-data="rowData" pTemplate="item">
              {{ findSede(data.idNumber) }}
            </ng-template>
          </p-column>
          <p-column header="Dependencia Productora" field="name" [style]="{'width':'120px'}"
                    [sortable]="true">
            <ng-template let-data="rowData" pTemplate="item">
              {{ findNombre(data.idNumber) }}
            </ng-template>
          </p-column>
          <p-column header="Acción" [style]="{'text-align':'center','width':'90px'}">
            <ng-template let-data="rowData" pTemplate="item">
              <i class="icons fa ui-icon-delete" pTooltip="Eliminar" tooltipPosition="top"
                 (click)="eliminar(data)" *ngIf="validateIcon(data)"></i>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>

  </div>
</form>
