<form [formGroup]="form" name="formDefault">
  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-6 ui-lg-6">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
            <span class="ui-float-label">
              <input type="text" pInputText id="serie" formControlName="serie" disabled/>
                        <label for="serie">Nombre serie/subserie</label>
            </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-6 ui-lg-6">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
            <span class="ui-float-label">
              <input type="text" pInputText id="identificador" formControlName="identificador" disabled/>
                            <label for="identificador">Identificador unidad documental</label>
            </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12">
        </div>
        <div class="ui-g-12">
          <span class="ui-float-label">
            <textarea rows="3" pInputText formControlName="observaciones"
                      (blur)="OnBlurEvents('observaciones')"></textarea>
            <label class="float-textarea" for="identificador">Observaciones</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <div class="ui-g form-group">
        <div class="ui-g-12 ">
          <button pButton label="Guardar" [disabled]="form.invalid" class="buttonMain" type="button" icon="pi pi-save"
                  iconPos="left" (click)="Guardar()"></button>
        </div>
      </div>
    </div>
  </div>
</form>
