<div class="ui-fluid">
  <p-card class="my-card">
    <div class="ui-g">
      <div class="ui-sm-12 ui-g-12">
        <div class="ui-g-12">
          <h2 class="text-left page-title-primary">Parametrizar cierre automático por serie/subserie documental</h2>
          <hr class="hr-sub-title">
        </div>
      </div>
    </div>
  </p-card>
</div>
<div class="ui-g ui-fluid divSecundary">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
               <p-dropdown [editable]="false" [autoDisplayFirst]="true"
                           [filter]="true" [resetFilterOnHide]="true"
                           [autoWidth]="false" formControlName="objectStore"
                           id="objectStore" [options]="objectStore"></p-dropdown>
                <label [ngClass]="{'ddfilled': form.get('objectStore').value != null}" for="objectStore">Object Store</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codDependence" pInputText type="text" maxlength="20">
                <label><span class="text-danger">*</span>Código dependencia productora</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSerie" id="codSerie" pInputText type="text" maxlength="20">
                <label><span class="text-danger">*</span>Código serie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <input formControlName="codSubSerie" id="codSubSerie" pInputText type="text" maxlength="20">
                <label>Código subserie documental</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4">
            <div class="ui-g form-group">
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12">
              <span class="ui-float-label">
              <p-dropdown [editable]="false" [autoDisplayFirst]="true"
                          [filter]="true" [resetFilterOnHide]="true"
                          [autoWidth]="false" formControlName="typeSerie"
                          id="typeSerie" [options]="typesSerie"></p-dropdown>
                <label [ngClass]="{'ddfilled': form.get('typeSerie').value != null}" for="typeSerie">Tipo</label>
              </span>
              </div>
            </div>
          </div>
          <div [formGroup]="form" class="ui-sm-4 ui-g-4 ui-lg-4 ui-md-4" >
            <div class="ui-g form-group" >
              <div class="ui-g-8">
              </div>
              <div class="ui-g-12" style='width : 40%'>
              <span class="ui-float-label">
              <input formControlName="yearOnHold" id="yearOnHold" pInputText type="number" min="1" pattern="^[0-9]+">
                <label>Plazo Precaucional</label>
              </span>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-sm-12 ui-g-12 ui-lg-12 ui-md-12 text-right">
          <i class="pi pi-search" style="font-size: 26px;position: relative;top: 4px;right: 7px;color: #005c90;"
             pTooltip="Buscar" tooltipPosition="top" (click)="getConfiguration()">
          </i>
          <i class="fa ui-icon-clear" style="font-size: 30px;position: relative;top: 8px;right: 5px;color: #005c90;"
             pTooltip="Limpiar" tooltipPosition="top" (click)="clearForm()">
          </i>
          <button class="buttonMain" icon="pi pi-plus" iconPos="left" label="Configurar"
                  pButton type="button" (click)="validateType()" [disabled]="form.invalid">
          </button>
        </div>
        <div class="divPanel">
          <div class="ui-g ui-fluid divTable">
            <div class="ui-g-12">
              <p-dataTable emptyMessage="No se encontraron resultados" [value]="listConfigurations | async"
                           [responsive]="true" [scrollable]="true" [rows]="5" [paginator]="true">
                <p-column field="codDependence" [sortable]="true" [style]="{'width':'100px'}"
                          header="Código dependencia productura">
                </p-column>
                <p-column field="codSerieRecord" [sortable]="true" [style]="{'width':'100px'}"
                          header="Serie documental">
                </p-column>
                <p-column field="codSubSerieRecord" [sortable]="true" [style]="{'width':'100px'}"
                          header="Subserie documental">
                </p-column>
                <p-column field="typeSerie" [sortable]="true" [style]="{'width':'100px'}" header="Tipo">
                </p-column>
                <p-column field="yearOnHold" [sortable]="true" [style]="{'width':'100px'}" header="Plazo Precaucional">
                </p-column>
                <p-column header="Acciones" [style]="{'text-align':'center','width':'60px'}">
                  <ng-template let-row="rowData" pTemplate="body">
                    <i class="fa ui-icon-mode-edit icons" pTooltip="Editar" tooltipPosition="top"
                       (click)="editConfig(row)"></i>
                    <i class="fa ui-icon-delete icons" pTooltip="Eliminar" tooltipPosition="top"
                       (click)="deleteConfig(row.idConfig)"></i>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="visibleConfigureSerie" [responsive]="true"
          (onHide)="hideDialogConfigure()" [width]="1000" [positionTop]="20">
  <p-header>
    Configurar serie/subserie documental
  </p-header>
  <app-configurar-cierre #configure (emitSaveOrEditConfig)="addConfig($event)" (hidePopup)="hideDialogConfigure()"></app-configurar-cierre>
</p-dialog>

